<div style="
    margin-left: 15px;
    padding-right: 20px;
    text-align: justify;
    height: 591px;
    overflow-y: scroll;
  ">
  <p style="font-weight: bold; text-decoration: underline">03.07.2023</p>
  <div>
    &nbsp;&nbsp;&nbsp;Following Department Pool Government accommodation
    <b>Type-IV Special Quarter</b> are available for allotment for cut-off
    period ending on 30.06.2023:
  </div>
  <br />

  <table style="width: 80%; margin-left: 78px; text-align: center">
    <tr>
      <th>SI.No</th>
      <th>Quarter No.</th>
      <th>Location</th>
      <th>Category</th>
    </tr>
    <tr>
      <td>1</td>
      <td>C-22</td>
      <td>Pedder Road</td>
      <td>Regular Category</td>
    </tr>
    <tr>
      <td>2</td>
      <td>10</td>
      <td>Cassi Metha</td>
      <td>Regular Category</td>
    </tr>
  </table>

  <br />

  <div>
    2.
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    A unified waiting list is prepared for cut-off period ending on 30.06.2023
    as per CBDT Residential Accommodation Allotment Rules, 2020 notified on
    18.01.2023 by Central Board of Direct Taxes, Department of Revenue, Ministry
    of Finance, New Delhi, relevant para is reproduced below:-
  </div>

  <div style="margin-left: 78px">
    <div>
      "... (2) (c) The date of priority in respect of type IV(S) and above
      accommodation shall be determined on the basis of the date from which the
      applicant has been continuously eligible for the type of accommodation as
      per the level of the applicant in the pay matrix.
    </div>
    <div>
      (d)&nbsp; The inter-se seniority for the type IV(S) and above
      accommodation shall be considered on the basis of the following factors,
      namely:
    </div>
    <div>
      (i)&nbsp;Where the priority date of two or more applicants is the same,
      the applicant having a higher level pay in the level shall be senior in
      the waiting list;
    </div>
    <div>
      (ii)&nbsp;Where the date of priority and the pay in the level of two or
      more applicants are the same, the applicant who has joined the Department
      earlier shall be senior in the waiting list; and
    </div>
    <div>
      (iii)&nbsp;Where the date of priority, pay in the level and the date of
      joining the Department of two or more applicants are the same, the
      applicabt returubg earlier may be accorded priority over the applicant
      retiring later.
    </div>
    <div>
      (iv)&nbsp;Where the date of priority, pay in the level, the date of
      joining the Department and date of retirement of two or more applicants
      are the same the applicant older in age may be accorded priority.
    </div>
  </div>

  <div>
    2.1
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    List of Officer, whose name has been <b>added</b> in the seniority list for
    the cut-off period ending on <b>30.06.2023</b> are as under:
  </div>

  <table style="width: 90%; margin-left: 78px; text-align: center">
    <tr>
      <th>SI.No</th>
      <th>Name of the Officer</th>
      <th>Designation</th>
      <th>Civil List No</th>
      <th>Reason for addition</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Zeenia Handa</td>
      <td>Jt. CIT</td>
      <td>08110</td>
      <td>Application received on 12.06.2023</td>
    </tr>
  </table>

  <br />

  <div>
    2.2
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    List of Officers, whose name has been <b>deleted</b> in the seniority list
    for the cut-off period ending on <b>30.06.2023</b> are as under:
  </div>

  <table style="width: 90%; margin-left: 78px; text-align: center">
    <tr>
      <th>SI.No</th>
      <th>Name of the Officer</th>
      <th>Designation</th>
      <th>Civil List No</th>
      <th>Reason for addition</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Zeenia Handa</td>
      <td>Jt. CIT</td>
      <td>08110</td>
      <td>Application received on 12.06.2023</td>
    </tr>
  </table>
  <br />
  <div>
    3.
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Accordingly, Notice <b>(F/A)</b> seeking preferences by
    <b>___/07/2023</b> and objections, if any regarding the seniority list (F/B)
    which are to be uploaded on the Department's portal i.e.
    <b>irsofficersonline.gov.in</b> are put up for kind perusal and approval
    please.
  </div>

  <br />
  <div style="text-align: left">ITI O/o DCIT(HQ),Admin, Mumbai</div>

  <br /><br /><br />

  <div style="text-align: right; font-weight: bold">
    DCIT(OSD)(HQ)Admin, Mumbai
  </div>

  <br /><br /><br />

  <div style="text-align: left; font-weight: bold">
    Addl.CIT(HQ)Admin, Mumbai
  </div>

  <br /><br /><br />

  <div style="text-align: left; font-weight: bold">CIT(Admin & TPS),Mumbai</div>

  <br /><br /><br />

  <div style="text-align: left; font-weight: bold">Pr.CCIT,Mumbai</div>

  <div class="footer">
    <button type="button" nz-button class="ant-btn" style="margin-right: 8px" (click)="close()">
      <span>Cancel</span>
    </button>

    <button type="button" class="ant-btn ant-btn-primary" (click)="save()" nz-button>
      <span>Save & Preview</span>
    </button>
  </div>
  <div class="header">
    <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>
  </div>
</div>

<nz-modal [nzWidth]="getwidth()" [(nzVisible)]="printNoticeModalVisible" nzMaskClosable="false" nzClosable="false"
  [nzContent]="printNoticeModalContent" [nzTitle]="'Notice'" (nzOnCancel)="printNoticeModalCancel()"
  [nzFooter]="printNoticeModalFooter">
  <ng-template #printNoticeModalContent>
    <nz-spin [nzSpinning]="isSpinning">
      <div style="height: 450px; overflow: auto">
        <div id="printNoticeModal">
          <div style="
              margin-right: 10px;
              padding: 3px;
              margin-left: 15px;
              text-align: justify;
            ">
            <p style="font-weight: bold; text-decoration: underline">
              03.07.2023
            </p>
            <div>
              &nbsp;&nbsp;&nbsp;Following Department Pool Government
              accommodation <b>Type-IV Special Quarter</b> are available for
              allotment for cut-off period ending on 30.06.2023:
            </div>
            <br />

            <table style="width: 80%; margin-left: 78px; text-align: center">
              <tr>
                <th>SI.No</th>
                <th>Quarter No.</th>
                <th>Location</th>
                <th>Category</th>
              </tr>
              <tr>
                <td>1</td>
                <td>C-22</td>
                <td>Pedder Road</td>
                <td>Regular Category</td>
              </tr>
              <tr>
                <td>2</td>
                <td>10</td>
                <td>Cassi Metha</td>
                <td>Regular Category</td>
              </tr>
            </table>

            <br />

            <div>
              2.
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              A unified waiting list is prepared for cut-off period ending on
              30.06.2023 as per CBDT Residential Accommodation Allotment Rules,
              2020 notified on 18.01.2023 by Central Board of Direct Taxes,
              Department of Revenue, Ministry of Finance, New Delhi, relevant
              para is reproduced below:-
            </div>

            <div style="margin-left: 78px">
              <div>
                "... (2) (c) The date of priority in respect of type IV(S) and
                above accommodation shall be determined on the basis of the date
                from which the applicant has been continuously eligible for the
                type of accommodation as per the level of the applicant in the
                pay matrix.
              </div>
              <div>
                (d)&nbsp; The inter-se seniority for the type IV(S) and above
                accommodation shall be considered on the basis of the following
                factors, namely:
              </div>
              <div>
                (i)&nbsp;Where the priority date of two or more applicants is
                the same, the applicant having a higher level pay in the level
                shall be senior in the waiting list;
              </div>
              <div>
                (ii)&nbsp;Where the date of priority and the pay in the level of
                two or more applicants are the same, the applicant who has
                joined the Department earlier shall be senior in the waiting
                list; and
              </div>
              <div>
                (iii)&nbsp;Where the date of priority, pay in the level and the
                date of joining the Department of two or more applicants are the
                same, the applicabt returubg earlier may be accorded priority
                over the applicant retiring later.
              </div>
              <div>
                (iv)&nbsp;Where the date of priority, pay in the level, the date
                of joining the Department and date of retirement of two or more
                applicants are the same the applicant older in age may be
                accorded priority.
              </div>
            </div>

            <div>
              2.1
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              List of Officer, whose name has been <b>added</b> in the seniority
              list for the cut-off period ending on <b>30.06.2023</b> are as
              under:
            </div>

            <br />

            <table style="width: 90%; margin-left: 78px; text-align: center">
              <tr>
                <th>SI.No</th>
                <th>Name of the Officer</th>
                <th>Designation</th>
                <th>Civil List No</th>
                <th>Reason for addition</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Zeenia Handa</td>
                <td>Jt. CIT</td>
                <td>08110</td>
                <td>Application received on 12.06.2023</td>
              </tr>
            </table>

            <br />

            <div>
              2.2
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              List of Officers, whose name has been <b>deleted</b> in the
              seniority list for the cut-off period ending on
              <b>30.06.2023</b> are as under:
            </div>
            <br />

            <table style="width: 90%; margin-left: 78px; text-align: center">
              <tr>
                <th>SI.No</th>
                <th>Name of the Officer</th>
                <th>Designation</th>
                <th>Civil List No</th>
                <th>Reason for addition</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Zeenia Handa</td>
                <td>Jt. CIT</td>
                <td>08110</td>
                <td>Application received on 12.06.2023</td>
              </tr>
            </table>
            <br />
            <div>
              3.
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Accordingly, Notice <b>(F/A)</b> seeking preferences by
              <b>___/07/2023</b> and objections, if any regarding the seniority
              list (F/B) which are to be uploaded on the Department's portal
              i.e. <b>irsofficersonline.gov.in</b> are put up for kind perusal
              and approval please.
            </div>

            <br />
            <div style="text-align: left">ITI O/o DCIT(HQ),Admin, Mumbai</div>

            <br /><br /><br />

            <div style="text-align: right; font-weight: bold">
              DCIT(OSD)(HQ)Admin, Mumbai
            </div>

            <br /><br /><br />

            <div style="text-align: left; font-weight: bold">
              Addl.CIT(HQ)Admin, Mumbai
            </div>

            <br /><br /><br />

            <div style="text-align: left; font-weight: bold">
              CIT(Admin & TPS),Mumbai
            </div>

            <br /><br /><br />

            <div style="text-align: left; font-weight: bold">
              Pr.CCIT,Mumbai
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </ng-template>

  <ng-template #printNoticeModalFooter>
    <button nz-button nzType="default" (click)="printNoticeModalCancel()">
      Close
    </button>

    <button nz-button nzType="default" printSectionId="printNoticeModal" ngxPrint [useExistingCss]="true">
      Print
    </button>

    <button nz-button nzType="primary" [nzLoading]="pdfDownload" (click)="generatePDF()">
      Download
    </button>
  </ng-template>
</nz-modal>