<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
    <div class="formname"><b> Manage Tour </b></div>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12" style="display: flex; justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <button *ngIf="isAdmin" nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isFilterApplied" (click)="showFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="aboutsearch" (keyup)="keyup($event)" (keydown.enter)="onKeypressEvent($event)"
            [(ngModel)]="searchText" nz-input placeholder=" Search Record" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" id="button" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end" *ngIf="!isAdmin">
          <i nz-icon nzType="plus"></i>Add New Tour
        </button>
      </nz-form-item>
    </form>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box" style="margin-bottom: 5px">
        <form nz-form>
          <div nz-row>
            <!-- <div nz-col nzSpan="5">
              <nz-form-item style="margin-top: 1px; width: 113%">
                <nz-form-label nzNoColon>Select Date</nz-form-label>
                <nz-range-picker
                  name="date"
                  nzFormat="dd MMM yyyy"
                  [(ngModel)]="BILL_FILIING_DATE"
                >
                </nz-range-picker>
              </nz-form-item>
            </div> -->

            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzNoColon>Inspector Name</nz-form-label>
                <nz-select name="inspectorName" nzShowSearch nzAllowClear style="width: 100%" [(ngModel)]="INSPECTOR_ID"
                  nzPlaceHolder="Select Inspector Name">
                  <nz-option *ngFor="let role of users" [nzValue]="role.ID" [nzLabel]="role.NAME">
                  </nz-option>
                </nz-select>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="7">
              <nz-form-label nzNoColon></nz-form-label>
              <nz-form-item style="margin-left: 45px">
                <button style="margin-right: 10px" nz-button [nzLoading]="isSpinning" nzType="primary"
                  (click)="applyFilter()" nzJustify="end">
                  <i nz-icon nzType="filter"></i>Apply Filter
                </button>
                <button nz-button nzType="primary" (click)="clearFilter()">
                  <!-- <i nz-icon nzType="filter"></i>Clear filter -->
                  <i nz-icon nzType="close-circle" nzTheme="outline"></i>Clear
                  filter
                </button>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" #basicTable nzShowSizeChanger [nzData]="dataList" [(nzPageIndex)]="pageIndex"
      [nzFrontPagination]="false" [nzLoading]="loadingRecords" [nzTotal]="totalRecords" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)" [nzSize]="'small'"
      [nzScroll]="{ x: '2700px', y: '55vh' }" nzBordered>
      <thead>
        <tr>
          <th nzLeft nzWidth="110px" style="font-weight: bold; text-align: center">
            Action
          </th>
          <th *ngIf="!isAdmin" nzLeft nzWidth="60px" style="font-weight: bold; text-align: center">
            Delete
          </th>
          <th nzLeft nzWidth="120px" style="font-weight: bold; text-align: center">
            Claim Status
          </th>
          <th nzWidth="300px" style="font-weight: bold; text-align: center">
            Order's
          </th>
          <!-- <th nzWidth="330px" style="font-weight: bold; text-align: center">
            Advance Order's
          </th> -->

          <th nzWidth="210px" style="font-weight: bold; text-align: center" nzColumnKey="EMPLOYEE_NAME"
            [nzSortFn]="true">
            Applicant Name
          </th>

          <th nzWidth="250px" style="font-weight: bold; text-align: center" nzColumnKey="DESIGNATION" [nzSortFn]="true">
            Employee Designation
          </th>
          <th nzWidth="110px" style="font-weight: bold; text-align: center" nzColumnKey="BASIC_PAY" [nzSortFn]="true">
            Basic Pay
          </th>

          <th nzWidth="220px" style="font-weight: bold; text-align: center" nzColumnKey="HEADQUARTERS_NAME"
            [nzSortFn]="true">
            Head Quater Address
          </th>

          <th nzWidth="110px" style="font-weight: bold; text-align: center" nzColumnKey="MOBILE_NO" [nzSortFn]="true">
            Mobile No
          </th>
          <th nzWidth="110px" style="font-weight: bold; text-align: center" nzColumnKey="GRADE_PAY_LEVEL"
            [nzSortFn]="true">
            Gradepay Level
          </th>
          <th *ngIf="parentUserId != undefined && parentUserId == 0" nzColumnKey="INSPECTOR_NAME" [nzSortFn]="true"
            nzWidth="200px" style="font-weight: bold; text-align: center">
            Inspector Name
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td nzLeft style="text-align: center">
            <div style="padding: 3px">
              <span style="cursor: pointer" (click)="edit(data)">
                <nz-tag *ngIf="isAdmin" style="
                    padding: 3px;
                    border: 1px blue solid;
                    border-radius: 0px;
                  " [nzColor]="'blue'">
                  <i nz-icon nzType="eye"></i> View
                </nz-tag>
                <nz-tag *ngIf="
                    !isAdmin &&
                    data.TOUR_STATUS != 'R' &&
                    data.TOUR_STATUS != 'AR'
                  " style="
                    padding: 3px;
                    border: 1px blue solid;
                    border-radius: 0px;
                  " [nzColor]="'blue'">
                  <i nz-icon nzType="edit"></i> Verify Claim
                </nz-tag>
              </span>
            </div>
          </td>
          <td nzLeft style="text-align: center" *ngIf="!isAdmin">
            <span style="cursor: pointer" nz-popconfirm nzPopconfirmTitle="Are you sure want delete?"
              nzPopconfirmPlacement="top" (nzOnConfirm)="deleteConfirm(data)" (nzOnCancel)="deleteCancel()">
              <span nz-icon nzType="delete" nzTheme="twotone" nz-tooltip nzTooltipTitle="Delete">
              </span>
            </span>
          </td>
          <td nzLeft style="text-align: center">
            <nz-tag *ngIf="data.TOUR_STATUS == 'A'" style="
                padding: 3px;
                border: 1px rgb(3, 146, 3) solid;
                border-radius: 5px;
              " [nzColor]="'green'">
              Accept
            </nz-tag>
            <nz-tag *ngIf="data.TOUR_STATUS == 'AA'" style="
                padding: 3px;
                border: 1px rgb(3, 146, 3) solid;
                border-radius: 5px;
              " [nzColor]="'green'">
              Advance Accept
            </nz-tag>
            <nz-tag *ngIf="data.TOUR_STATUS == 'R'" style="
                padding: 3px;
                border: 1px rgb(206, 11, 11) solid;
                border-radius: 5px;
              " [nzColor]="'red'">
              Reject
            </nz-tag>
            <nz-tag *ngIf="data.TOUR_STATUS == 'AR'" style="
                padding: 3px;
                border: 1px rgb(206, 11, 11) solid;
                border-radius: 5px;
              " [nzColor]="'red'">
              Advance Reject
            </nz-tag>

            <nz-tag *ngIf="data.TOUR_STATUS == 'H'" style="
                padding: 3px;
                border: 1px rgb(10, 38, 177) solid;
                border-radius: 5px;
              " [nzColor]="'blue'">
              On Hold
            </nz-tag>

            <nz-tag *ngIf="data.TOUR_STATUS == 'AH'" style="
                padding: 3px;
                border: 1px rgb(10, 38, 177) solid;
                border-radius: 5px;
              " [nzColor]="'blue'">
              Advance On Hold
            </nz-tag>
            <nz-tag *ngIf="data.TOUR_STATUS == 'T' && !isAdmin"
              style="padding: 3px; border: 1px pink solid; border-radius: 5px" [nzColor]="'pink'">
              Pending
            </nz-tag>
            <nz-tag *ngIf="data.TOUR_STATUS == 'T' && isAdmin"
              style="padding: 3px; border: 1px blue solid; border-radius: 5px" [nzColor]="'blue'">
              Taken
            </nz-tag>
            <nz-tag *ngIf="data.TOUR_STATUS == 'P' && isAdmin"
              style="padding: 3px; border: 1px pink solid; border-radius: 5px" [nzColor]="'pink'">
              Pending
            </nz-tag>
          </td>
          <td *ngIf="
              data.TOUR_STATUS == 'A' || data.TOUR_STATUS == 'AA';
              else elseblock111
            ">
            &nbsp;
            <span style="cursor: pointer" (click)="tourprtaordervisible(data)">
              <nz-tag style="
                  padding: 3px;
                  border: 1px rgb(0, 6, 37) solid;
                  border-radius: 5px;
                " [nzColor]="'default'">
                Tour Part A
              </nz-tag>
            </span>

            &nbsp;

            <span style="cursor: pointer" (click)="tourpart_b(data)">
              <nz-tag style="
                  padding: 3px;
                  border: 1px rgb(255, 0, 255) solid;
                  border-radius: 5px;
                " [nzColor]="'default'">
                Tour Part B
              </nz-tag>
            </span>

            &nbsp;

            <span style="cursor: pointer" (click)="chceklistaordervisible(data)">
              <nz-tag style="
                  padding: 3px;
                  border: 1px rgb(0, 6, 37) solid;
                  border-radius: 5px;
                " [nzColor]="'default'">
                Check list
              </nz-tag>
            </span>
            <!-- &nbsp;

            <span style="cursor: pointer" (click)="biillsection(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(255, 0, 0) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Bill Section
              </nz-tag>
            </span> -->

            <!-- &nbsp;
            <span style="cursor: pointer" (click)="selfsanction(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(72, 99, 255) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Self Declaration Certificate
              </nz-tag>
            </span> -->

            <!-- &nbsp;
            <span style="cursor: pointer" (click)="toursanction(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(72, 99, 255) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Tour Sanction Order
              </nz-tag>
            </span> -->

            <!-- &nbsp;

            <span
              style="cursor: pointer"
              (click)="travellingaordervisible(data)"
            >
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(0, 6, 37) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Travelling allounce
              </nz-tag>
            </span> -->
            &nbsp;

            <span style="cursor: pointer" (click)="placeordervisible(data)">
              <nz-tag style="
                  padding: 3px;
                  border: 1px rgb(0, 6, 37) solid;
                  border-radius: 5px;
                " [nzColor]="'default'">
                Place Order
              </nz-tag>
            </span>
            <!-- &nbsp;
            <span style="cursor: pointer" (click)="aheshorder(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(255, 88, 88) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Adesh
              </nz-tag>
            </span> -->
            <!-- &nbsp;
            <span style="cursor: pointer" (click)="certificateduplicate(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(109, 109, 109) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Cerificate Duplicate
              </nz-tag>
            </span> -->

            &nbsp;
            <!-- <span style="cursor: pointer" (click)="aayakrbhavan(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(0, 0, 0) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Aaykar
              </nz-tag>
            </span> -->
          </td>
          <ng-template #elseblock111>
            <td></td>
          </ng-template>
          <!-- <td *ngIf="data.TOUR_STATUS != 'R' && data.TOUR_STATUS != 'AR' && data.IS_APPLYING_FOR_ADVANCE;else elseblock1111111">
            &nbsp;
            <span style="cursor: pointer" (click)="open(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(0, 6, 37) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Advance Bill
              </nz-tag>
            </span>

            &nbsp;

            <span style="cursor: pointer" (click)="openShort(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(255, 0, 255) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
              G.A.R 37
              </nz-tag>
            </span>

            &nbsp;

            <span (click)="openapproval(data)"
              style="cursor: pointer"
             
            >
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(0, 6, 37) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
              मंजुरी आदेश 
              </nz-tag>
            </span>
            

            &nbsp;

            <span style="cursor: pointer" (click)="openapplication(data)">
              <nz-tag
                style="
                  padding: 3px;
                  border: 1px rgb(0, 6, 37) solid;
                  border-radius: 5px;
                "
                [nzColor]="'default'"
              >
                Application
              </nz-tag>
            </span>
           
            
          </td>
          <ng-template #elseblock1111111>
            <td></td>

          </ng-template> -->

          <td style="text-align: center; white-space: pre-line">
            {{ data.EMPLOYEE_NAME }}
          </td>

          <td style="text-align: center; white-space: pre-line">
            {{ data.DESIGNATION }}
          </td>

          <td style="text-align: center; white-space: pre-line">
            {{ data.BASIC_PAY }}
          </td>
          <td style="text-align: center; white-space: pre-line">
            {{ data.HEADQUARTERS_NAME }}
          </td>
          <td style="text-align: center; white-space: pre-line">
            {{ data.MOBILE_NO }}
          </td>
          <td style="text-align: center; white-space: pre-line">
            {{ data.GRADE_PAY_LEVEL }}
          </td>
          <td *ngIf="parentUserId != undefined && parentUserId == 0" style="text-align: center; white-space: pre-line"
            nzWidth="110px">
            {{ data.INSPECTOR_NAME }}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1140" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-addtourmaster [drawerClose]="closeCallback" [current]="currentStage" [isSpinning]="isSpin" [tourID]="tourID"
        [particularoftours]="particularoftours" [particularofhotelsdata]="particularofhotelsdata"
        [detailsandpurpose]="detailsandpurpose" [data]="drawerData" [empID]="empID" [editdata]="editdata"
        [data2]="detailsjourneyofpurpose" [isCreate]="isCreate"></app-addtourmaster>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="aayakarbhavan">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1250" [nzKeyboard]="true"
    [nzVisible]="aayakarbhavan" [nzTitle]="drawerTitle6" (nzOnClose)="aayakarbhavanclose()">
    <ng-container *nzDrawerContent>
      <app-aaykarbhvan [drawerClose]="closeCallbackaayakarbhavan" [aayakarbhavandata]="aayakarbhavandata"
        [SECTION_TYPE]="SECTION_TYPE" [SIGNNAME]="NAME" [NAME_HN]="NAME_HN" [OFFICE_NAME]="OFFICE_NAME"
        [OFFICE_NAME_HN]="OFFICE_NAME_HN" [POST]="POST" [POST_HN]="POST_HN"></app-aaykarbhvan>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="adheshorder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1150" [nzKeyboard]="true"
    [nzVisible]="adheshorder" [nzTitle]="drawerTitle3" (nzOnClose)="adheshdrawerclose()">
    <ng-container *nzDrawerContent>
      <app-adheshorder [adheshdata]="adheshdata" [drawerClose]="closeCallbackadhesh" [SIGNNAME]="NAME"
        [NAME_HN]="NAME_HN" [OFFICE_NAME_HN]="OFFICE_NAME_HN" [POST]="POST" [POST_HN]="POST_HN"
        [OFFICE_NAME]="OFFICE_NAME"></app-adheshorder>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="tourprtaorder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzKeyboard]="true"
    [nzVisible]="tourprtaorder" [nzTitle]="drawerTitle1" (nzOnClose)="tourpartaorderclose()">
    <ng-container *nzDrawerContent>
      <app-part-a [drawerClose]="closebacktourprta" [particularoftours]="particularoftours"
        [particularofcity]="particularofcity" [detailsandpurpose]="detailsandpurpose"
        [particularofhotelsdata]="particularofhotelsdata" [partadata]="partadata" [fooddata]="fooddata"></app-part-a>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="trvellingbalanceaorder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="950" [nzKeyboard]="true"
    [nzVisible]="trvellingbalanceaorder" [nzTitle]="drawerTitle10" (nzOnClose)="travellingaorderclose()">
    <ng-container *nzDrawerContent>
      <app-travellingallouncebill [drawerClose]="closebacktravelling" [tourtravellingllounce]="tourtravellingllounce"
        [travellingdata]="travellingdata"></app-travellingallouncebill>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="toursanctionorder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100" [nzKeyboard]="true"
    [nzVisible]="toursancationorder" [nzTitle]="drawerTitle8" (nzOnClose)="toursanctionclose()">
    <ng-container *nzDrawerContent>
      <app-toursantionorder [drawerClose]="closebacktour" [toursanctionorder]="toursanctionorder"
        [tousanctionorder]="tousanctionorder" [SECTION_TYPE]="SECTION_TYPE" [SIGNNAME]="NAME" [NAME_HN]="NAME_HN"
        [OFFICE_NAME]="OFFICE_NAME" [OFFICE_NAME_HN]="OFFICE_NAME_HN" [POST]="POST"
        [POST_HN]="POST_HN"></app-toursantionorder>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="billsection">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',

      overflow: 'auto',

      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzKeyboard]="true"
    [nzVisible]="billsection" [nzTitle]="drawerTitle5" (nzOnClose)="billsectionclose()">
    <ng-container *nzDrawerContent>
      <app-billsection [drawerClose]="closeCallbackbillsetion" [billDrawerData]="billDrawerData"
        [billsectiondata]="billsectiondata"></app-billsection>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="selfsancationorder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="850" [nzKeyboard]="true"
    [nzVisible]="selfsancationorder" [nzTitle]="'Self Declaration Certificate'" (nzOnClose)="selfsanctionclose()">
    <ng-container *nzDrawerContent>
      <app-self-declaration-certificate [drawerClose]="closeCalselfsnction"
        [selftoursanctionorder]="selftoursanctionorder"
        [selfdeclarationdata]="selfdeclarationdata"></app-self-declaration-certificate>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="duplicatecertificte">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="850" [nzKeyboard]="true"
    [nzVisible]="duplicatecertificte" [nzTitle]="drawerTitle4" (nzOnClose)="certificateduplicaterawerclose()">
    <ng-container *nzDrawerContent>
      <app-certificateduplicate [drawerClose]="closeCallbackacertificateduplicate" [certificatedata]="certificatedata"
        [particularofhotelsdata1]="particularofhotelsdata1"></app-certificateduplicate>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="tourpartbvisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzKeyboard]="true"
    [nzVisible]="tourpartbvisible" [nzTitle]="drawerTitle2" (nzOnClose)="tourpartb()">
    <ng-container *nzDrawerContent>
      <app-tour-part-b [drawerClose]="closeCallbacktourpartb" [tourpartbdata]="tourpartbdata"
        [totalamountofpartb]="totalamountofpartb" [journeytotalamounttourpartb]="journeytotalamounttourpartb"
        [foodAdmissibleAmount]="foodAdmissibleAmount" [accommodationAdmissibleAmount]="accommodationAdmissibleAmount"
        [hotelAdmissibleAmount]="hotelAdmissibleAmount" [intercityAdmissibleAmount]="intercityAdmissibleAmount"
        [actualExpences]="actualExpences" [SignatureMaptourpartbdata]="SignatureMaptourpartbdata"
        [grossAmount]="grossAmount"></app-tour-part-b>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="placealongorder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100" [nzKeyboard]="true"
    [nzVisible]="placealongorder" [nzTitle]="drawerTitle9" (nzOnClose)="placeorderclose()">
    <ng-container *nzDrawerContent>
      <app-placealongside [drawerClose]="closebackplacealong" [ShipBoattotal]="ShipBoattotal" [airtotal]="airtotal"
        [Roadtotal]="Roadtotal" [Railtotal]="Railtotal" [foodtotal]="foodtotal" [ShipBoattotal1]="ShipBoattotal1"
        [airtotal1]="airtotal1" [Roadtotal1]="Roadtotal1" [Railtotal1]="Railtotal1" [foodtotal1]="foodtotal1"
        [placeorderdata]="placeorderdata" [alltotal]="alltotal" [nettotalamountplaceorder]="nettotalamountplaceorder"
        [advanceamountta]="advanceamountta" [accototal]="accototal" [acctotal1]="acctotal1"
        [detailsandpurpose]="detailsandpurpose" [hotelAdmissibleAmount]="hotelAdmissibleAmount"
        [accommodationAdmissibleAmount]="accommodationAdmissibleAmount" [foodAdmissibleAmount]="foodAdmissibleAmount"
        [intercityAdmissibleAmount]="intercityAdmissibleAmount" [intercityClaimedAmount]="intercityClaimedAmount"
        [accommodationClaimedAmount]="accommodationClaimedAmount" [totalOfAdmissibleAmount]="totalOfAdmissibleAmount"
        [totalOfClaimedAmount]="totalOfClaimedAmount"
        [PlaceOrderMapCheckList]="PlaceOrderMapCheckList"></app-placealongside>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="checklistorder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="900" [nzKeyboard]="true"
    [nzVisible]="checklistorder" [nzTitle]="drawerTitle11" (nzOnClose)="checklistorderclose()">
    <ng-container *nzDrawerContent>
      <app-checklist [drawerClose]="closebackchecklist" [checklist]="checklist" [checklistyesno]="checklistyesno"
        [SECTION_TYPE]="SECTION_TYPE" [SIGNNAME]="NAME" [NAME_HN]="NAME_HN" [OFFICE_NAME]="OFFICE_NAME"
        [OFFICE_NAME_HN]="OFFICE_NAME_HN" [POST]="POST" [POST_HN]="POST_HN"
        [SignatureMapCheckList]="SignatureMapCheckList"></app-checklist>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="drawerVisibleAdvance">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-top': '8px',
      'padding-right': '19px',
      'padding-left': '2px',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzVisible]="drawerVisibleAdvance"
    [nzTitle]="drawerTitleAdvance" (nzOnClose)="close()" (nzKeyboard)="(true)" [nzWidth]="1100">
    <ng-container *nzDrawerContent>
      <ls-advanceddrawer [drawerClose]="drawerVisibleAdvanceclose" [advancedata]="advancedata"
        [AdvanceBillView]="AdvanceBillView"></ls-advanceddrawer>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="drawerVisibleapproval">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-top': '8px',
      'padding-right': '19px',
      'padding-left': '2px',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzVisible]="drawerVisibleapproval"
    [nzTitle]="drawerTitleapproval" (nzOnClose)="closeapproval()" (nzKeyboard)="(true)" [nzWidth]="1100">
    <ng-container *nzDrawerContent>
      <ls-manjuriaadeshdrawer [drawerClose]="drawerVisibleapprovalnn" [TOURdata]="TOURdata"
        [ManjuriAdeshView]="ManjuriAdeshView"></ls-manjuriaadeshdrawer>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="drawerVisibleapplication">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-top': '8px',
      'padding-right': '19px',
      'padding-left': '2px',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzVisible]="drawerVisibleapplication"
    [nzTitle]="drawerTitleapplication" (nzOnClose)="closeapplication()" (nzKeyboard)="(true)" [nzWidth]="880">
    <ng-container *nzDrawerContent>
      <ls-applicationdrawer [applicationdrawerdata]="applicationdrawerdata"
        [drawerClose]="closeapplicationnn"></ls-applicationdrawer>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="drawerVisibleShort">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-top': '8px',
      'padding-right': '19px',
      'padding-left': '2px',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzVisible]="drawerVisibleShort"
    [nzTitle]="drawerTitleShort" (nzOnClose)="closeShort()" (nzKeyboard)="(true)" [nzWidth]="1100">
    <ng-container *nzDrawerContent>
      <ls-shorttermbilldrwaer [drawerClose]="drawerVisibleShortnnn" [TOURdata]="TOURdata"
        [AdvanceShortBillView]="AdvanceShortBillView"></ls-shorttermbilldrwaer>
    </ng-container>
  </nz-drawer>
</div>