<div>
  <form nz-form #ObjectionPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div class="my-box" style="height: 591px; overflow-y: scroll; padding-right: 20px">
        <div nz-row>
          <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4" nzSpan="4">
            <div style="text-align: left">
              <img src="assets/govtOfIndia.png" alt="" height="70%" width="70%" />
            </div>
          </div>

          <div nz-col nzSpan="20" nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
            <div style="width: 100%; text-align: center">
              <div>भारत सरकार</div>
              <div style="text-transform: uppercase; margin-left: 40px">
                Government Of India
              </div>
              <div>कार्यालय, प्रधान मुख्य आयकर आयुक्त, मुंबई</div>
              <div style="text-transform: uppercase">OFFICE OF THE</div>
              <div style="font-weight: bold">
                PRINCIPAL CHIEF COMMISSIONER OF INCOME-TAX
              </div>
              <div style="text-transform: uppercase">
                3<sup style="text-transform: lowercase">rd</sup>&nbsp; FLOOR,
                AAYAKAR BHAVAN, MAHARSHI KARVE ROAD, MUMBAI-20.
              </div>
              <div style="text-transform: uppercase;">(022)2200 6385(DIRECT), (022)2209 6738(FAX), (022)2203 9131
                EXTN.2328</div>
              <div style="text-transform: lowercase">
                e-mail: mumbai.dcit.hq.admin@incometax.gov.in
              </div>
            </div>
          </div>
          <div style="width: 100%; border: 1px solid black; font-size: 14px">
            <div nz-row>
              <div nz-col nzSpan="19" style="padding-left: 10px">
                No.Pr.CC.MUM/Admin/Misc/Accommodation/2022-23
              </div>
              <div nz-col nzSpan="5" style="
                  text-align: left;
                  border-left: 1px solid;
                  padding-left: 10px;
                ">
                Date :
              </div>
            </div>
          </div>
        </div>

        <div style="margin-left: 15px; text-align: justify">
          <div>
            <div>
              <!-- <p>
              To, Smt. Yasha Singh, DCIT, TP-2(1)(1), Air India Building,
              Mumbai.
            </p> -->
              <div>To,</div>
              <div>Smt. Yasha Singh,</div>
              <div>DCIT, TP-2(1)(1),</div>
              <div>Air India Building,Mumbai.</div>
            </div>

            <br />

            <div nz-row>
              <div nz-col nzSpan="2"></div>
              <div nz-col nzSpan="22">
                <div>
                  Sub :&nbsp;&nbsp;
                  <b>Objection to Notice No.Pr.CC.MUM/Admin/Type-IV
                    Spl./2022-23, </b>
                  <div style="margin-left: 45px;"><b>dated-11.08.2022 - Reg.</b></div>
                </div>

                <div>
                  <b>Ref :</b>&nbsp;&nbsp;&nbsp;
                  <b>Your e-mail dated-15.08.2022.</b>
                  <div style="margin-left: 49px;">
                    <b>
                      <hr style=" border: 1px dashed black ;">
                    </b>
                  </div>
                  <div>Please refer to the above.</div>
                </div>
              </div>
            </div>
            <div>
              2. &nbsp;&nbsp;&nbsp; Vide your above referred e-mail, you have
              raised following objection against the proposed allotment of
              type-IV(S) quarters for cut off period ending on 31.07.2022:
            </div>
            <div style="margin-left: 60px">
              <div>
                i) &nbsp;&nbsp; The seniority of Shri Sourav Jain, DCIT (Civil
                Code-17010) over you is incorrect according to the General Pool
                Residential Allocation (GPRA-Rules) dated 19.06.2017.
              </div>
              <div>
                ii) &nbsp;&nbsp; Your request made by email dated-30.03.2022 for
                allotment of residence being extreme hardship faced by you due
                to infant child of 1 year.
              </div>
              <div>
                iii) &nbsp;&nbsp; Your preference for allotment of type-IV
                quarter was wrongly mentioned 1st in the proposed allotment as
                your first choice is for allotment of type- IV(S) quarter.
              </div>
            </div>

            <div>
              3.&nbsp;&nbsp;&nbsp; In this regard I am directed to convey to
              your that the seniority cum waiting list for type-IV(S) quarters
              alongwith list of vacant Quarter for cut off period ending on
              31.07.2022 were published vide notice
              No.Pr.CC.MUM/Admin/Accom/Type-IV Spl./2022-23 dated-03.08.2022,
              seeking objection with regard to seniority, if any by 10.08.2022.
              But no objection was filed for the same. As no objection was filed
              by any officer against the seniority cum waiting list published
              vide notice dated- 03.08.2022, the same was finalized.
              Accordingly, proposed allotment was finalized based on the
              preferences and seniority. Further, proposed allotment were
              published vide notice dated-11.08.2022, seeking objection if any
              with regard to preferences for allotment.
            </div>
            <div>
              4. &nbsp;&nbsp;&nbsp; As no objection was filed by you with regard
              to seniority cum waiting list published vide notice
              dated-03.08.2022 therefore, the objection raised by you at the
              time of proposed allotment of type-IV(S) quarters is not found
              justifiable.
            </div>
            <div>
              5. &nbsp;&nbsp;&nbsp; With regard to your objection that
              preference for allotment of type-IV quarter was wrongly mentioned
              1st in the proposed allotment as your first choice is for
              allotment of type-IV(S) quarter. In this regard, I am directed to
              state that allotment of type-IV and type-IV(S) quarter are
              mutually exclusive. Therefore, preferences for each type of
              allotment are asked in separate mail. In the preference given by
              you for allotment of type-IV quarter, first choice is Quarter No.239,
              Bandra. Hence, being senior in the seniority cum waiting list for
              allotment of type-IV quarters, the same is allotted to you.
            </div>
            <div>
              6. &nbsp;&nbsp;&nbsp; In view of the above, your objections are
              disposed off. However, in next cycle of allotment you may submit
              your preference for allotment and your application will be
              considered as per your contention and prevailing rules.
            </div>

            <br /><br /><br />

            <div nz-row>
              <div nz-col nzSpan="10"></div>
              <div nz-col nzSpan="14">
                <div style="text-align: end"><b>(AKHIL GOAL)</b></div>
                <div style="text-align: end">
                  Dy.Commissioner of Income-tax(HQ)
                </div>
                <div style="text-align: end">Administration, Mumbai</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </form>
  <div class="footer">
    <button type="button" nz-button class="ant-btn" style="margin-right: 8px" (click)="close(ObjectionPage)">
      <span>Cancel</span>
    </button>

    <button type="button" class="ant-btn ant-btn-primary" (click)="save()" nz-button>
      <span>Save & Preview</span>
    </button>
  </div>
  <div class="header">
    <button type="button" nz-button (click)="close(ObjectionPage)" class="ant-btn" style="margin-right: 8px">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>
  </div>
</div>

<nz-modal [nzWidth]="getwidth()" [(nzVisible)]="printObjectionModalVisible" nzMaskClosable="false" nzClosable="false"
  [nzContent]="printObjectionModalContent" [nzTitle]="'Objection Letter'" (nzOnCancel)="printObjectionModalCancel()"
  [nzFooter]="printObjectionModalFooter">
  <ng-template #printObjectionModalContent>
    <nz-spin [nzSpinning]="isSpinning">
      <div style="height: 450px; overflow: auto">
        <div id="printObjectionModal">
          <div style="
              margin-right: 10px;
              padding: 5px;
              margin-left: 15px;
              text-align: justify;
            ">
            <div nz-row>
              <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4" nzSpan="4">
                <div style="text-align: center">
                  <img src="assets/govtOfIndia.png" alt="" height="184px" width="92px" style="margin-top: 15px" />
                </div>
              </div>

              <div nz-col nzSpan="20" nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
                <div style="width: 100%; text-align: center">
                  <div>भारत सरकार</div>
                  <div style="text-transform: uppercase; margin-left: 40px">
                    Government Of India
                  </div>
                  <div>कार्यालय, प्रधान मुख्य आयकर आयुक्त, मुंबई</div>
                  <div style="text-transform: uppercase">OFFICE OF THE</div>
                  <div style="font-weight: bold">
                    PRINCIPAL CHIEF COMMISSIONER OF INCOME-TAX
                  </div>
                  <div style="text-transform: uppercase">
                    3<sup style="text-transform: lowercase">rd</sup>&nbsp;
                    FLOOR, AAYAKAR BHAVAN, MAHARSHI KARVE ROAD, MUMBAI-20.
                  </div>
                  <div style="text-transform: uppercase;">(022)2200 6385 (DIRECT), (022)2209 6738 (FAX), (022)2203
                    9131 EXTN.2328</div>
                  <div style="text-transform: lowercase">
                    e-mail: mumbai.dcit.hq.admin@incometax.gov.in
                  </div>
                </div>
              </div>
              <div style="width: 100%; border: 1px solid black; font-size: 14px">
                <div nz-row>
                  <div nz-col nzSpan="19" style="padding-left: 10px">
                    No.Pr.CC.MUM/Admin/Misc/Accommodation/2022-23
                  </div>
                  <div nz-col nzSpan="5" style="
                      text-align: left;
                      border-left: 1px solid;
                      padding-left: 10px;
                    ">
                    Date :
                  </div>
                </div>
              </div>
            </div>

            <div style="margin-left: 15px; text-align: justify">
              <div>
                <div>
                  <!-- <p>
                          To, Smt. Yasha Singh, DCIT, TP-2(1)(1), Air India Building,
                          Mumbai.
                        </p> -->
                  <div>To,</div>
                  <div>Smt. Yasha Singh,</div>
                  <div>DCIT, TP-2(1)(1),</div>
                  <div>Air India Building,Mumbai.</div>
                </div>

                <br />

                <div nz-row>
                  <div nz-col nzSpan="2"></div>
                  <div nz-col nzSpan="22">
                    <div>
                      Sub :&nbsp;&nbsp;
                      <b>Objection to Notice No.Pr.CC.MUM/Admin/Type-IV
                        Spl./2022-23, </b>
                      <div style="margin-left: 49px;"><b>dated-11.08.2022 - Reg.</b></div>
                    </div>

                    <div>
                      <b>Ref :</b>&nbsp;&nbsp;&nbsp;
                      <b>Your e-mail dated-15.08.2022.</b>
                      <div style="margin-left: 49px;">

                        <b>
                          <hr style=" border: 1px dashed black ;">
                        </b>

                        <!-- <b
                          >------------------------------------------------------------</b
                        > -->
                      </div>
                      <div>Please refer to the above.</div>
                    </div>

                  </div>
                </div>

                <!-- <div style="margin-left: 100px">
                  Sub :&nbsp; &nbsp;
                  <b
                    >Objection to Notice No.Pr.CC.MUM/Admin/Type-IV
                    Spl./2022-23, dated-11.08.2022 - Reg.</b
                  >
                </div>

                <div style="margin-left: 100px">
                  <b>Ref :</b>&nbsp;&nbsp;
                  <b>Your e-mail dated-15.08.2022.</b>
                  <div>
                    <b
                      >----------------------------------------------------------------</b
                    >
                  </div>
                  <div>Please refer to the above.</div>
                </div> -->

                <div>
                  2. &nbsp;&nbsp;&nbsp; Vide your above referred e-mail, you
                  have raised following objection against the proposed allotment
                  of type-IV(S) quarters for cut off period ending on
                  31.07.2022:
                </div>
                <div style="margin-left: 60px">
                  <div>
                    i) The seniority of Shri Sourav Jain, DCIT
                    (Civil Code-17010) over you is incorrect according to the
                    General Pool Residential Allocation (GPRA-Rules) dated
                    19.06.2017.
                  </div>
                  <div>
                    ii) Your request made by email dated-30.03.2022
                    for allotment of residence being extreme hardship faced by
                    you due to infant child of 1 year.
                  </div>
                  <div>
                    iii) Your preference for allotment of type-IV
                    quarter was wrongly mentioned 1st in the proposed allotment
                    as your first choice is for allotment of type- IV(S)
                    quarter.
                  </div>
                </div>

                <div>
                  3. &nbsp;&nbsp;&nbsp;In this regard I am directed to convey to
                  your that the seniority cum waiting list for type-IV(S)
                  quarters alongwith list of vacant Quarter for cut off period
                  ending on 31.07.2022 were published vide notice
                  No.Pr.CC.MUM/Admin/Accom/Type-IV Spl./2022-23
                  dated-03.08.2022, seeking objection with regard to seniority,
                  if any by 10.08.2022. But no objection was filed for the same.
                  As no objection was filed by any officer against the seniority
                  cum waiting list published vide notice dated- 03.08.2022, the
                  same was finalized. Accordingly, proposed allotment was
                  finalized based on the preferences and seniority. Further,
                  proposed allotment were published vide notice
                  dated-11.08.2022, seeking objection if any with regard to
                  preferences for allotment.
                </div>
                <div>
                  4. &nbsp;&nbsp;&nbsp;As no objection was filed by you with
                  regard to seniority cum waiting list published vide notice
                  dated-03.08.2022 therefore, the objection raised by you at the
                  time of proposed allotment of type IV(S) quarters is not found
                  justifiable
                </div>
                <div>
                  5. &nbsp;&nbsp;&nbsp;With regard to your objection that
                  preference for allotment of type IV quarter was wrongly
                  mentioned 1st in the proposed allotment as your first choice
                  is for allotment of type-IV(S) quarter. In this regard, I am
                  directed to state that allotment of type-IV and type-IV(S)
                  quarter are mutually exclusive. Therefore, preferences for each
                  type of allotment are asked in separate mail. In the
                  preference given by you for allotment of type-IV quarter,
                  first choice is Quarter No.239, Bandra. Hence, being senior in
                  the seniority cum waiting list for allotment of type-IV
                  quarters, the same is allotted to you.
                </div>
                <div>
                  6. &nbsp;&nbsp;&nbsp;In view of the above, your objections
                  are disposed off. However, in next cycle of allotment you may
                  submit your preference for allotment and your application will
                  be considered as per your contention and prevailing rules.
                </div>

                <br /><br /><br /><br />

                <div nz-row>
                  <div nz-col nzSpan="10"></div>
                  <div nz-col nzSpan="14">
                    <div style="text-align: end"><b>(AKHIL GOAL)</b></div>
                    <div style="text-align: end">
                      Dy.Commissioner of Income-tax(HQ)
                    </div>
                    <div style="text-align: end">Administration, Mumbai</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </ng-template>

  <ng-template #printObjectionModalFooter>
    <button nz-button nzType="default" (click)="printObjectionModalCancel()">
      Close
    </button>

    <button nz-button nzType="default" printSectionId="printObjectionModal" ngxPrint [useExistingCss]="true">
      Print
    </button>

    <button nz-button nzType="primary" [nzLoading]="pdfDownload" (click)="generatePDF()">
      Download
    </button>
  </ng-template>
</nz-modal>