<div nz-row nzType="flex" style="justify-content: space-between;">
  <div nz-col style="margin: 0 10px 0 0;">
    <div class="formname"> {{formTitle}}</div>
    <!-- <h2>{{formTitle}}</h2> -->
  </div>

  <div nz-col style="display: flex;justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" nz-input placeholder="Search Records" (keyup)="keyup($event)" [(ngModel)]="searchText" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" class="flexicons" (click)="search()" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" class="flexicons">
          <i nz-icon nzType="plus"></i>Add New Role
        </button>
      </nz-form-item>

    </form>
  </div>
</div>
<div nz-row style="margin-top: 10px;">
  <div nz-col nzSpan="24">
    <nz-table [nzSize]="'small'" class="my-scroll no-wrap1" nzBordered #roleTable nzShowSizeChanger [nzFrontPagination]="false"
      [nzData]="dataList" [nzLoading]="loadingRecords" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"  (nzQueryParams)="sort($event)"
      [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)">

      <thead>
        <tr>
           <th style="width: 70px;text-align: center;font-weight: bold;">Action</th>
          <th style="text-align: center;font-weight: bold;">Forms</th>
          <th [nzSortFn]="true" style="text-align: center;font-weight: bold;" *ngFor="let column of columns" nzShowSort nzColumnKey={{column[0]}}>{{column[1]}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of roleTable.data">
          <td>
            <a (click)="edit(data)" style="color: #1890ff;">Edit</a>
          </td>
          <td>
            <a (click)="MapForms(data)">Forms</a>
          </td>
          <td *ngFor="let column of columns">{{data[column[0]]}}</td>

        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="390" [nzVisible]="drawerVisible"
  [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="true">
  <ng-container *nzDrawerContent>
    <app-role [drawerClose]="closeCallback" [data]="drawerData"></app-role>
  </ng-container>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800" [nzVisible]="drawerVisible1"
  [nzTitle]="drawerTitle1" (nzOnClose)="drawerClose1()" (nzKeyboard)="true">
  <ng-container *nzDrawerContent>
    <app-roledetails [drawerClose]="closeCallback1" [data]="drawerData1" [roleDetailsData]="drawerData2">
    </app-roledetails>
  </ng-container>
</nz-drawer>