<app-headermenu></app-headermenu>
<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero" style="padding: 10px 0;">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2 style="font-weight: 500;color: white;">Privacy Policy</h2>
                    <ol>
                        <li><a routerLink="/" style="text-decoration: None;color: white;">Home</a></li>
                        <li>Privacy Policy</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="padding:5% ;">
        <p>1. <b>Introduction</b></p>
        <p>Welcome</p>
        <p>We value your privacy and are committed to safeguarding your
            personal information. This Privacy Policy outlines how we collect, use, disclose, and
            protect your data. By using our services, you consent to the practices described in this
            policy. </p>
        <p>2. <b>Information Collection</b></p>
        <p>We collect information that you provide directly when you interact with our website,
            products, and services. This may include personal details such as your name, contact
            information, and relevant identifiers. </p>
        <p>3. <b>Use of Information </b></p>
        <p>We use the information collected to improve our services, personalize user experiences,
            and communicate with you. Your data may be used for administrative purposes,
            responding to inquiries, and providing relevant updates. </p>
        <p>4. <b>Data Protection </b></p>
        <p>We employ robust security measures to protect your information from unauthorized
            access, disclosure, alteration, or destruction. Our security protocols adhere to industry
            standards to ensure your data's integrity. </p>
        <p>5. <b>Disclosure to Third Parties </b></p>
        <p>We do not sell or share your personal information with third parties for their marketing
            purposes. However, we may share data with trusted partners and service providers who
            assist us in delivering our services effectively. </p>
        <p>6. <b>Cookies and Tracking </b></p>
        <p>We use cookies and similar technologies to enhance your browsing experience. Cookies
            enable us to analyze site usage patterns, optimize content, and tailor advertisements.
            You can manage cookie preferences through your browser settings. </p>
        <p>7. <b>Links to External Sites </b></p>
        <p>Our website may contain links to external sites. We are not responsible for the content
            or privacy practices of these sites. We encourage you to review their respective privacy
            policies. </p>
        <p>8. <b>Changes to Privacy Policy </b></p>
        <p>We may update this Privacy Policy periodically to reflect changes in our practices. The
            updated version will be posted on our website, and your continued use of our services
            constitutes your acceptance of these changes. </p>
        <p>9. <b>Contact Us </b></p>
        <p>For any questions, concerns, or inquiries regarding this Privacy Policy, please contact us
            at <a href="mailto:mumbai.ito.tps1@incometax.gov.in"
                style="color: #006699;">mumbai.ito.tps1@incometax.gov.in</a>. </p>
    </div>
</main>
<app-footer></app-footer>