<div nz-row>
    <div nz-col nzSpan="24">
        <p><a style="text-decoration: none;font-size: 16px;" href="https://youtu.be/O8nr5IO9W0c" target="_blank">How to
                check Quarter availability with their residence type in Portal ?</a></p>
    </div>
    <div nz-col nzSpan="24">
        <p><a style="text-decoration: none;font-size: 16px;" href="https://youtu.be/zNXU2Tq8j48" target="_blank">How to
                fill application form in portal ?</a></p>
    </div>
    <div nz-col nzSpan="24">
        <p><a style="text-decoration: none;font-size: 16px;" href="https://youtu.be/8WnbEuLsRS4" target="_blank">How to
                navigate in GRAAS service?</a></p>
    </div>
    <div nz-col nzSpan="24">
        <p><a style="text-decoration: none;font-size: 16px;" href="https://youtu.be/nu54xi2S-so?si=QDhVf_NRTlsZJsef"
                target="_blank">How to register employees with portal?</a></p>
    </div>
</div>
<div class="header">
    <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
        <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>
</div>