td {
  border: 1px solid black;
  padding: 10px;
}

.c {
  text-align: center;
}

table,
th {
  border: 1px solid black;
  padding: 5px;
}

nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

td,
th {
  text-align: center;
}
