<div>
  <form nz-form #AllotmentPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">
      <div class="my-box">
        <!-- <div class="my-box" style="height: 591px; overflow-y: scroll; padding-right: 20px"> -->
        <div nz-row>
          <div style="border: 1px solid; border-bottom: none" nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4"
            nzSpan="4">
            <div style="text-align: center">
              <img src="assets/govtOfIndia.png" alt="" height="70%" width="70%" />
            </div>
          </div>

          <div nz-col nzSpan="20" nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
            <div style="
                  width: 100%;
                  text-align: center;
                  border: 1px solid;
                  border-left: none;
                  border-bottom: none;
                ">
              <div>भारत सरकार</div>
              <div style="text-transform: uppercase; margin-left: 40px">
                Government Of India
              </div>
              <div>कार्यालय, प्रधान मुख्य आयकर आयुक्त, मुंबई</div>
              <div style="text-transform: uppercase">OFFICE OF THE</div>
              <div style="font-weight: bold">
                PRINCIPAL CHIEF COMMISSIONER OF INCOME-TAX
              </div>
              <div style="
                    text-transform: uppercase;
                    margin-left: 10px;
                    margin-right: 7px;
                  ">
                3<sup style="text-transform: lowercase">RD</sup>&nbsp; FLOOR,
                AAYAKAR BHAVAN, MAHARSHI KARVE ROAD, MUMBAI-20
              </div>
              <div style="text-transform: uppercase">
                (022)2200 6385 (DIRECT), (022)2209 6738 (FAX), (022)2203
                9131 EXTN.2328
              </div>
              <div style="text-transform: lowercase">
                e-mail: mumbai.dcit.hq.admin@incometax.gov.in
              </div>
            </div>
          </div>
          <div style="width: 100%; border: 1px solid black; font-size: 14px">
            <div nz-row>
              <div nz-col nzSpan="19" style="padding-left: 10px">
                No.Pr.CC.MUM/Admn./Accom/Type-IV(Special)/2023-2024
              </div>
              <div nz-col nzSpan="5" style="
                    text-align: left;
                    border-left: 1px solid;
                    padding-left: 10px;
                  ">
                Date :
              </div>
            </div>
          </div>
        </div>

        <div style="margin-left: 15px; text-align: justify">
          <!-- <div style="
                font-weight: bold;
                text-decoration: underline;
                text-align: center;
              ">
              NOTICE
            </div> -->
          <div style="
                font-weight: bold;
                text-align: center;
              ">
            Sub: ALLOTMENT OF GOVERNMENT RESIDENTIAL ACCOMMODATION
          </div>
          <div style="
                font-weight: bold;
                text-align: center;
              ">
            FROM INCOME-TAX POOL AT MUMBAI / NEW MUMBAI
          </div>
          <br />
          <p>
            1. &nbsp; &nbsp;&nbsp;The marginally noted residence of <b>Bldg no.
              E-11, Quarter no. 0.2, Belapur, Type-III</b> hereby allotted to <b>Shri.
              Akshay Kumar</b>, Inspector with and subject to the provisions of the
            Revenue Allotment Rules, 1964, regarding Government residence
            in the I.T.Pool.
          </p>

          <!-- <div nzJustify="space-between">
              <table id="" style="width: 80%; margin-left: 78px; text-align: center">
                <tr>
                  <th class="sr">Sr.No</th>
                  <th>Quarter No.</th>
                  <th>Location</th>
                  <th>Category</th>
                </tr>
  
                <tr>
                  <td>1</td>
                  <td>C-22</td>
                  <td>Pedder Road</td>
                  <td>Regular Category</td>
                </tr>
              </table>
            </div> -->
          <br>

          <div>
            2. &nbsp;&nbsp;&nbsp; The allottee is hereby requested to convey
            his/her acceptance within five days from the date of receipt of this letter.
            The acceptance should be in the enclosed form and should be forwarded to the undersigned by name.
          </div>
          <br />
          <div>
            3. &nbsp;&nbsp;&nbsp; This allotment is subject to the terms
            and conditions set out herein under:-
          </div>
          <br />
          <div>
            3.1 &nbsp;&nbsp;&nbsp; If the official fails to accept the allotment
            of residence within <b>eight days</b> or fails to take possession
            of the residence after acceptance <b>within eight days</b> from the
            date of receipt of this letter of allotment, he/she shall not be eligible for
            another allotment for a period of one year from the date of this allotment letter.
            Further, he/she will be charged license fee which he/she would have to pay under
            F.R.45A in respect of the residence already in occupation,
            whichevper is higher, from the date of issue of this letter.
          </div>
          <br />
          <div>
            3.2 &nbsp;&nbsp;&nbsp; If the official is a temporary Govt. servant,
            he/she is required to furnish a Surety Bond on prescribed form (Schedule 'B')
            from a permanent Central Govt. Servant along with
            the acceptance as per the provisions contained in S.R.317-P-17.
          </div><br />
          <div>
            3.3 &nbsp;&nbsp;&nbsp; If the allotment is accepted, the official
            should obtain an occupation slip from his office and take possession of
            the allotted residence from the concerned CPWD office (in respect of quarters
            at Antop Hill), Caretaker (in respect of quarters at Bhandup, Goregaon Hostel,
            Goregaon Type-III, Powai, Belapur and Jogeshwari) and this office
            (in respect of quarters at Peddar Road, Goregaon Type-IV, Cassi Mitha
            and Bandra) within eight days from the date of receipt of this letter.
            In case of failure to take possession within the time specified above,
            the allotment will be treated as cancelled and
            the quarter will be allotted to the next eligible officer.
          </div>
          <br />
          <div>
            3.4 &nbsp;&nbsp;&nbsp;The allottee will be charged license fee under F.R.45A and
            the liability thereof will commence from the 8th day from the receipt
            of this letter or from the date of taking over possession, whichever is earlier.
            In addition,water charges and share of taxes should be paid by him/her as in force.
          </div>
          <br />
          <div>
            3.5 &nbsp;&nbsp;&nbsp;In case of change or allotment of another type of quarter,
            shifting should be done<b> within eight days</b> from the date of receipt of this letter.
            If both the residences are retained for more than eight days,
            license fee at the market rate for the previous residence will be charged in
            addition to the normal license fee of the new residence. Without prejudice to this,
            this allotment would be liable to be cancelled. </div>
          <br />
          <div>
            <b> 3.6 &nbsp;&nbsp;&nbsp;
              The allottee shall not make any
              additions and/or alterations to the premises allotted to him/her.
            </b>
          </div>
          <br />
          <div>
            3.7 &nbsp;&nbsp;&nbsp;
            The allottee will have to get meter and electric connection in the
            said residence by paying Security Deposit and connection fee to the BEST
            Undertaking/BSES/MSEB after accepting the allotment of the residence.
            He/She will have to obtain application form and test certificate duly
            signed by the concerned Jr./Asst/Executive Engineer (Elec), CPWD, Mumbai,
            but his/her occupation of the said residence cannot be made contingent upon
            provisions of such facility. Similarly, whitewashing or removal of defects, if any,
            would be carried out by the CPWD authorities according to the prevalent rules and
            hence, occupation of the said residence cannot be made contingent upon provision of
            such facilities. And further, this office would not entertain any correspondence in
            this connection. Therefore, the allottee may be advised to take over possession of
            the residence within the stipulated time and get any such work done thereafter.
          </div>
          <br />
          <div>
            <b>3.8 &nbsp;&nbsp;&nbsp;
              The electricity charges should be settled by the allottee with the electricity
              supply authorities concerned directly at the time of vacating the said residence.
              This office will not entertain
              any correspondence regarding payment of electric charges whatsoever.</b>
          </div>
          <br />
          <div>
            3.9 &nbsp;&nbsp;&nbsp;This allotment is made to him/her subject to the condition that
            he/she is not eligible for allotment of Govt. Residence in General Pool and hence,
            he/she is not considered for allotment in that pool
            and is not occupying any accommodation from the general pool.
          </div>
          <br />
          <div>
            3.10 &nbsp;&nbsp;&nbsp;As per present instruction of the Board, officers entitled for Type-VI
            quarters, but who have
            been allotted accommodation in the departmental pool must apply for the general pool accommodation
            and in the event of
            allotment of accommodation by the Estate Manager, Mumbai, they should shift to that accommodation.
            Failure to comply will entail recovery of rent at market rate, in force from them</div><br />
          <div>
            3.11 &nbsp;&nbsp;&nbsp;This allotment is made subject to the condition that the spouse of the
            allottee is not occupying accommodation from General Pool or any other Pool. This certificate may
            please be furnished at the time of submitting the Acceptance Letter
          </div><br />
          <div>
            3.12 &nbsp;&nbsp;&nbsp;A declaration to the effect that the officer concerned does not own a house
            etc. or other wise should be furnished as provided in the Acceptance Letter.
          </div><br />
          <div>
            3.13 &nbsp;&nbsp;&nbsp;This Govt. Accommodation has been allotted for the bonafide use of the
            allottee and his/ her family. Subletter or sharing of the premises with out prior approval of this
            office is not permissible. If an allottee unauthorisedly sublets or shares the residence, without
            prejudice t o any other action (including action to cancel the allotment) that may be taken against
            him/her, he/she will be charged enhanced rent upto four times the Standard Rent plus service charges
            per month. Where after the allotment has been cancelled, or is deemed to be cancelled under any
            provision of the Revenue Allotment Rules, the residence remains or has remained in occupation of the
            allottee or any person claiming through him, the allottee shall be liable to pay market rent in
            force.
          </div><br />
          <div>
            3.14 &nbsp;&nbsp;&nbsp;This allotment is made subject to the condition that the allottee is
            continuously employed and remains employed in the Income Tax Department, at Mumbai.
          </div>
          <br />
          <div>
            3.15 &nbsp;&nbsp;&nbsp;In case the official is not willing to accept the house offered above and
            wishes to consider his request in some other area, he can technically accept the allotment by
            filling up the technical acceptance form and the change form available from the office of the
            DCIT(HQ) Admn ., Mumbai. In case of technical acceptance only one month additional licence fee will
            be charged and HRA shall continue to be drawn if the allottee is not in physical occupation of the
            government accommodation.
          </div>
          <br />
          <div>
            3.16 &nbsp;&nbsp;&nbsp;While surrendering the accommodation, the allottee is required to give 10
            days in writing before vacating the said premises to this office and if he/she fails to do so,
            he/she will be responsible for payment of rent for that period or number of days by which notice
            given by him/her falls short of 10 days from the date of vacation.
          </div><br />
          <div>
            3.17 &nbsp;&nbsp;&nbsp;The premises includes fixtures and fittings shall be handed over by allottee
            in good condition at the time of vacation failing which the cost of damages will be recovered from
            him/ her. The inventory of civil / electrical and other fittings fixtures taken over should be sent
            along with letter of surrender. Keys of the said premises should be handed over to the persons as
            mentioned in para 5 above at the time of surrendering the same.
          </div><br />
          <div>
            3.18 &nbsp;&nbsp;&nbsp;This allotment is made to him / her subject to the condition that in case of
            mutual exchange of residence SR 317 - 17 Rules pertaining to allotment of Govt. accommodation shall
            be implemented. In accordance with the aforesaid rules, the allottees who intend to mutually
            exchange their Quarters are directed to give an undertaking that they should reside in their mutually
            exchanged residences for at least 6 months from the date of approval of such exchange. In the event
            of any allottee surrendering an exchange Quarter within a period of 6 months, the allottee will be
            ineligible for allotment of any other accommodation for a period of 1 year.
          </div>
          <br />
          <div>
            <b>3.19 &nbsp;&nbsp;&nbsp;The Bill of Landline Telephone Connection/Internet connection/Electricity
              connection should be cleared by the allottee at the time of vacating the allotted accommodation.
              This office will not entertain any correspondence regarding payment of telephone/internet/
              electricity connection whatsoever. At the time of surrender, copies of last telephone bill,
              internet bill and electricity bill, duly paid, should be attached with the surrender letter.</b>
          </div>
          <br />
          <div>
            <b>3.20 &nbsp;&nbsp;&nbsp;The allottee should maintain proper decorum in the society and should not
              be involved in any activity which falls under public nuisance. If Residents Welfare Association
              of the Residential Complex complains against the allottee in relation to the activities which
              comes under the ambit of public nuisance then the said allottee may be requested to vacate the
              quarters after giving due opportunity. </b>
          </div>
          <br /><br /><br /><br />

          <div nz-row>
            <div nz-col nzSpan="10">
              <b>SEAl</b>
            </div>
            <div nz-col nzSpan="14">
              <div style="text-align: -webkit-center;"><b>(Santosh Nair)</b></div>
              <div style="text-align: -webkit-center;">
                Dy. Commissioner of Income-tax (HQ)
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button type="button" nz-button class="ant-btn" style="margin-right: 8px" (click)="close(AllotmentPage)">
      <span>Cancel</span>
    </button>

    <button type="button" class="ant-btn ant-btn-primary" (click)="save()" nz-button>
      <span>Save & Preview</span>
    </button>
  </div>
  <div class="header">
    <button type="button" nz-button (click)="close(AllotmentPage)" class="ant-btn" style="margin-right: 8px">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>
  </div>
</div>
<nz-modal [nzWidth]="getwidth()" [(nzVisible)]="printAllotmentModalVisible" nzMaskClosable="false" nzClosable="false"
  [nzContent]="printAllotmentModalContent" [nzTitle]="'Allotment Letter'" (nzOnCancel)="printAllotmentModalCancel()"
  [nzFooter]="printAllotmentModalFooter">
  <ng-template #printAllotmentModalContent>
    <nz-spin [nzSpinning]="isSpinning">
      <div style="height: 450px; overflow: auto">
        <div id="printAllotmentModal">
          <div style="
              margin-right: 10px;
              padding: 3px;
              margin-left: 15px;
              text-align: justify;
            ">
            <div nz-row>
              <div style="border: 1px solid; border-bottom: none" nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4"
                nzSpan="4">
                <div style="text-align: center;margin-top: 40px">
                  <img src="assets/govtOfIndia.png" alt="" height="145px" width="92px" />
                </div>
              </div>

              <div nz-col nzSpan="20" nzXs="20" nzSm="20" nzMd="20" nzLg="20" nzXl="20">
                <div style="
                    width: 100%;
                    text-align: center;
                    border: 1px solid;
                    border-left: none;
                    border-bottom: none;
                  ">
                  <div>भारत सरकार</div>
                  <div style="text-transform: uppercase; margin-left: 40px">
                    Government Of India
                  </div>
                  <div>कार्यालय, प्रधान मुख्य आयकर आयुक्त, मुंबई</div>
                  <div style="text-transform: uppercase">OFFICE OF THE</div>
                  <div style="font-weight: bold">
                    PRINCIPAL CHIEF COMMISSIONER OF INCOME-TAX
                  </div>
                  <div style="text-transform: uppercase">
                    3<sup style="text-transform: lowercase">RD</sup>&nbsp;
                    FLOOR, AAYAKAR BHAVAN, MAHARSHI KARVE ROAD, MUMBAI-20
                  </div>
                  <div style="text-transform: uppercase">
                    (022)2200 6385 (DIRECT), (022)2209 6738 (FAX), (022)2203
                    9131 EXTN.2328
                  </div>
                  <div style="text-transform: lowercase">
                    e-mail: mumbai.dcit.hq.admin@incometax.gov.in
                  </div>
                </div>
              </div>
              <div style="width: 100%; border: 1px solid black; font-size: 14px">
                <div nz-row>
                  <div nz-col nzSpan="19" style="padding-left: 10px">
                    No.Pr.CC.MUM/Admn./Accom/Type-IV(Special)/2023-2024
                  </div>
                  <div nz-col nzSpan="5" style="
                      text-align: left;
                      border-left: 1px solid;
                      padding-left: 10px;
                    ">
                    Date :
                  </div>
                </div>
              </div>
            </div>

            <div style="margin-left: 15px; text-align: justify">
              <!-- <div style="
                font-weight: bold;
                text-decoration: underline;
                text-align: center;
              ">
              NOTICE
            </div> -->
              <div style="
                font-weight: bold;
                text-align: center;
              ">
                Sub: ALLOTMENT OF GOVERNMENT RESIDENTIAL ACCOMMODATION
              </div>
              <div style="
                font-weight: bold;
                text-align: center;
              ">
                FROM INCOME-TAX POOL AT MUMBAI / NEW MUMBAI
              </div>
              <br />
              <p>
                1. &nbsp; &nbsp;&nbsp;The marginally noted residence of <b>Bldg no.
                  E-11, Quarter no. 0.2, Belapur, Type-III</b> hereby allotted to <b>Shri.
                  Akshay Kumar</b>, Inspector with and subject to the provisions of the
                Revenue Allotment Rules, 1964, regarding Government residence
                in the I.T.Pool.
              </p>

              <!-- <div nzJustify="space-between">
              <table id="" style="width: 80%; margin-left: 78px; text-align: center">
                <tr>
                  <th class="sr">Sr.No</th>
                  <th>Quarter No.</th>
                  <th>Location</th>
                  <th>Category</th>
                </tr>
  
                <tr>
                  <td>1</td>
                  <td>C-22</td>
                  <td>Pedder Road</td>
                  <td>Regular Category</td>
                </tr>
              </table>
            </div> -->
              <br>

              <div>
                2. &nbsp;&nbsp;&nbsp; The allottee is hereby requested to convey
                his/her acceptance within five days from the date of receipt of this letter.
                The acceptance should be in the enclosed form and should be forwarded to the undersigned by name.
              </div>
              <br />
              <div>
                3. &nbsp;&nbsp;&nbsp; This allotment is subject to the terms
                and conditions set out herein under:-
              </div>
              <br />
              <div>
                3.1 &nbsp;&nbsp;&nbsp; If the official fails to accept the allotment
                of residence within <b>eight days</b> or fails to take possession
                of the residence after acceptance <b>within eight days</b> from the
                date of receipt of this letter of allotment, he/she shall not be eligible for
                another allotment for a period of one year from the date of this allotment letter.
                Further, he/she will be charged license fee which he/she would have to pay under
                F.R.45A in respect of the residence already in occupation,
                whichevper is higher, from the date of issue of this letter.
              </div>
              <br />
              <div>
                3.2 &nbsp;&nbsp;&nbsp; If the official is a temporary Govt. servant,
                he/she is required to furnish a Surety Bond on prescribed form (Schedule ‘B’)
                from a permanent Central Govt. Servant along with
                the acceptance as per the provisions contained in S.R.317-P-17.
              </div><br />
              <div>
                3.3 &nbsp;&nbsp;&nbsp; If the allotment is accepted, the official
                should obtain an occupation slip from his office and take possession of
                the allotted residence from the concerned CPWD office (in respect of quarters
                at Antop Hill), Caretaker (in respect of quarters at Bhandup, Goregaon Hostel,
                Goregaon Type-III, Powai, Belapur and Jogeshwari) and this office
                (in respect of quarters at Peddar Road, Goregaon Type-IV, Cassi Mitha
                and Bandra) within eight days from the date of receipt of this letter.
                In case of failure to take possession within the time specified above,
                the allotment will be treated as cancelled and
                the quarter will be allotted to the next eligible officer.
              </div>
              <br />
              <div>
                3.4 &nbsp;&nbsp;&nbsp;The allottee will be charged license fee under F.R.45A and
                the liability thereof will commence from the 8th day from the receipt
                of this letter or from the date of taking over possession, whichever is earlier.
                In addition,water charges and share of taxes should be paid by him/her as in force.
              </div>
              <br />
              <div>
                3.5 &nbsp;&nbsp;&nbsp;In case of change or allotment of another type of quarter,
                shifting should be done<b> within eight days</b> from the date of receipt of this letter.
                If both the residences are retained for more than eight days,
                license fee at the market rate for the previous residence will be charged in
                addition to the normal license fee of the new residence. Without prejudice to this,
                this allotment would be liable to be cancelled. </div>
              <br />
              <div>
                <b> 3.6 &nbsp;&nbsp;&nbsp;
                  The allottee shall not make any
                  additions and/or alterations to the premises allotted to him/her.
                </b>
              </div>
              <br />
              <div>
                3.7 &nbsp;&nbsp;&nbsp;
                The allottee will have to get meter and electric connection in the
                said residence by paying Security Deposit and connection fee to the BEST
                Undertaking/BSES/MSEB after accepting the allotment of the residence.
                He/She will have to obtain application form and test certificate duly
                signed by the concerned Jr./Asst/Executive Engineer (Elec), CPWD, Mumbai,
                but his/her occupation of the said residence cannot be made contingent upon
                provisions of such facility. Similarly, whitewashing or removal of defects, if any,
                would be carried out by the CPWD authorities according to the prevalent rules and
                hence, occupation of the said residence cannot be made contingent upon provision of
                such facilities. And further, this office would not entertain any correspondence in
                this connection. Therefore, the allottee may be advised to take over possession of
                the residence within the stipulated time and get any such work done thereafter.
              </div>
              <br />
              <div>
                <b>3.8 &nbsp;&nbsp;&nbsp;
                  The electricity charges should be settled by the allottee with the electricity
                  supply authorities concerned directly at the time of vacating the said residence.
                  This office will not entertain
                  any correspondence regarding payment of electric charges whatsoever.</b>
              </div>
              <br />
              <div>
                3.9 &nbsp;&nbsp;&nbsp;This allotment is made to him/her subject to the condition that
                he/she is not eligible for allotment of Govt. Residence in General Pool and hence,
                he/she is not considered for allotment in that pool
                and is not occupying any accommodation from the general pool.
              </div>
              <br />
              <div>
                3.10 &nbsp;&nbsp;&nbsp;As per present instruction of the Board, officers entitled for Type-VI
                quarters, but who have
                been allotted accommodation in the departmental pool must apply for the general pool accommodation
                and in the event of
                allotment of accommodation by the Estate Manager, Mumbai, they should shift to that accommodation.
                Failure to comply will entail recovery of rent at market rate, in force from them</div><br />
              <div>
                3.11 &nbsp;&nbsp;&nbsp;This allotment is made subject to the condition that the spouse of the
                allottee is not occupying accommodation from General Pool or any other Pool. This certificate may
                please be furnished at the time of submitting the Acceptance Letter
              </div><br />
              <div>
                3.12 &nbsp;&nbsp;&nbsp;A declaration to the effect that the officer concerned does not own a house
                etc. or other wise should be furnished as provided in the Acceptance Letter.
              </div><br />
              <div>
                3.13 &nbsp;&nbsp;&nbsp;This Govt. Accommodation has been allotted for the bonafide use of the
                allottee and his/ her family. Subletter or sharing of the premises with out prior approval of this
                office is not permissible. If an allottee unauthorisedly sublets or shares the residence, without
                prejudice t o any other action (including action to cancel the allotment) that may be taken against
                him/her, he/she will be charged enhanced rent upto four times the Standard Rent plus service charges
                per month. Where after the allotment has been cancelled, or is deemed to be cancelled under any
                provision of the Revenue Allotment Rules, the residence remains or has remained in occupation of the
                allottee or any person claiming through him, the allottee shall be liable to pay market rent in
                force.
              </div><br />
              <div>
                3.14 &nbsp;&nbsp;&nbsp;This allotment is made subject to the condition that the allottee is
                continuously employed and remains employed in the Income Tax Department, at Mumbai.
              </div>
              <br />
              <div>
                3.15 &nbsp;&nbsp;&nbsp;In case the official is not willing to accept the house offered above and
                wishes to consider his request in some other area, he can technically accept the allotment by
                filling up the technical acceptance form and the change form available from the office of the
                DCIT(HQ) Admn ., Mumbai. In case of technical acceptance only one month additional licence fee will
                be charged and HRA shall continue to be drawn if the allottee is not in physical occupation of the
                government accommodation.
              </div>
              <br />
              <div>
                3.16 &nbsp;&nbsp;&nbsp;While surrendering the accommodation, the allottee is required to give 10
                days in writing before vacating the said premises to this office and if he/she fails to do so,
                he/she will be responsible for payment of rent for that period or number of days by which notice
                given by him/her falls short of 10 days from the date of vacation.
              </div><br />
              <div>
                3.17 &nbsp;&nbsp;&nbsp;The premises includes fixtures and fittings shall be handed over by allottee
                in good condition at the time of vacation failing which the cost of damages will be recovered from
                him/ her. The inventory of civil / electrical and other fittings fixtures taken over should be sent
                along with letter of surrender. Keys of the said premises should be handed over to the persons as
                mentioned in para 5 above at the time of surrendering the same.
              </div><br />
              <div>
                3.18 &nbsp;&nbsp;&nbsp;This allotment is made to him / her subject to the condition that in case of
                mutual exchange of residence SR 317 - 17 Rules pertaining to allotment of Govt. accommodation shall
                be implemented. In accordance with the aforesaid rules, the allottees who intend to mutually
                exchange their Quarters are directed to give an undertaking that they should reside in their mutually
                exchanged residences for at least 6 months from the date of approval of such exchange. In the event
                of any allottee surrendering an exchange Quarter within a period of 6 months, the allottee will be
                ineligible for allotment of any other accommodation for a period of 1 year.
              </div>
              <br />
              <div>
                <b>3.19 &nbsp;&nbsp;&nbsp;The Bill of Landline Telephone Connection/Internet connection/Electricity
                  connection should be cleared by the allottee at the time of vacating the allotted accommodation.
                  This office will not entertain any correspondence regarding payment of telephone/internet/
                  electricity connection whatsoever. At the time of surrender, copies of last telephone bill,
                  internet bill and electricity bill, duly paid, should be attached with the surrender letter.</b>
              </div>
              <br />
              <div>
                <b>3.20 &nbsp;&nbsp;&nbsp;The allottee should maintain proper decorum in the society and should not
                  be involved in any activity which falls under public nuisance. If Residents Welfare Association
                  of the Residential Complex complains against the allottee in relation to the activities which
                  comes under the ambit of public nuisance then the said allottee may be requested to vacate the
                  quarters after giving due opportunity. </b>
              </div>
              <br /><br /><br /><br />

              <div nz-row>
                <div nz-col nzSpan="10">
                  <b>SEAl</b>
                </div>
                <div nz-col nzSpan="14">
                  <div style="text-align: -webkit-center;"><b>(Santosh Nair)</b></div>
                  <div style="text-align: -webkit-center;">
                    Dy. Commissioner of Income-tax (HQ)
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-spin>
  </ng-template>
  <ng-template #printAllotmentModalFooter>
    <button nz-button nzType="default" (click)="printAllotmentModalCancel()">
      Close
    </button>

    <button nz-button nzType="default" printSectionId="printAllotmentModal" ngxPrint [useExistingCss]="true">
      Print
    </button>

    <button nz-button nzType="primary" [nzLoading]="pdfDownload" (click)="generatePDF()">
      Download
    </button>
  </ng-template>
</nz-modal>