<div nz-row nzType="flex">
    <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
        <div class="formname"> {{formTitle}} </div>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12" style="display: flex;justify-content: flex-end">
        <form nz-form [nzLayout]="'inline'">
            <nz-form-item>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" name="postsearch" (keyup)="keyup($event)" [(ngModel)]="searchText" nz-input
                        placeholder="Search Record" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" id="button" class="flexicons" (click)="search(true)" nzSearch><i
                            nz-icon nzType="search"></i></button>
                </ng-template>
            </nz-form-item>
            <nz-form-item>
                <button nz-button nzType="primary" (click)="add()" class="flexicons">
                    <i nz-icon nzType="plus"></i>Add New Residence </button>
            </nz-form-item>

        </form>
    </div>
</div>

<div nz-row style="margin-top: 10px;">
    <div nz-col nzSpan="24">
        <nz-table class="my-scroll no-wrap1" nzBordered #ResidenceMasterTable nzShowSizeChanger
            [nzFrontPagination]="false" [nzData]="dataList" [nzLoading]="loadingRecords" [nzSize]="'small'"
            [nzScroll]="{  y: '350px' }" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)">

            <thead>
                <tr>
                    <th nzWidth="8px" style="text-align: center;"> <b> Action </b></th>
                    <!-- <th nzColumnKey="{{ 'SEQUENCE_NO' }}" [nzSortFn]="true" nzWidth="11px" style="text-align: center;">
                        <b> Seq. No. </b>
                    </th> -->
                    <th nzColumnKey="{{ 'TYPE' }}" [nzSortFn]="true" nzWidth="42px" style="text-align: center;">
                        <b>Residence Type </b>
                    </th>
                    <th nzColumnKey="{{ 'PAY_BILL_SECTION' }}" [nzSortFn]="true" nzWidth="38px"
                        style="text-align: center;">
                        <b> Pay Bill Section </b>
                    </th>
                    <th nzColumnKey="{{ 'STATUS' }}" [nzSortFn]="true" nzWidth="20px" style="text-align: center;"> <b>
                            Status </b></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of ResidenceMasterTable.data">
                    <td style="text-align: center;">
                        <a (click)="edit(data)" style="color: #1890ff;"> Edit </a>
                    </td>
                    <!-- <td style="text-align: center;">{{data['SEQUENCE_NO']}}</td> -->
                    <td style="white-space: pre-line;text-align: center;">{{data['TYPE']}}</td>
                    <td style="white-space: pre-line;text-align: center;">{{data['PAY_BILL_SECTION']}}</td>
                    <td style="text-align: center;">
                        <i nz-icon *ngIf="data['STATUS']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#52c41a'"></i>
                        <i nz-icon *ngIf="!data['STATUS']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#f50'"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
        [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="400" [nzVisible]="drawerVisible"
        [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="true">
        <ng-container *nzDrawerContent>
            <app-add-residence [drawerClose]="closeCallback" [drawerVisible]="drawerVisible"
                [data]="drawerData"></app-add-residence>
        </ng-container>
    </nz-drawer>
</div>