<div nz-row [nzGutter]="[16, 24]">
  <div nz-col nzSpan="8" class="gutter-row">
    <div class="my-box" style="height: 75vh; overflow-y: auto">
      <div nz-row>
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzNoColon>Signature 1</nz-form-label>
            <nz-form-control>
              <nz-select
                name="userid"
                [(ngModel)]="AdvanceBillMap.ADV_TRANSFER_ADV_BILL_SIGNATURE_1"
                nzAllowClear
                nzShowSearch
                nzPlaceHolder="Choose Signature"
                (ngModelChange)="signature($event)"
              >
                <nz-option
                  *ngFor="let user of Signaturearray"
                  [nzValue]="user.ID"
                  [nzLabel]="user.NAME"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="4">
          <nz-form-item style="padding: 0px !important">
            <nz-form-label nzNoColon></nz-form-label>
            <nz-form-control>
              <button nz-button nzType="primary" (click)="opensignature()">
                <i nz-icon nzType="plus"></i>
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzNoColon>Signature 2</nz-form-label>
            <nz-form-control>
              <nz-select
                name="userid2"
                [(ngModel)]="AdvanceBillMap.ADV_TRANSFER_ADV_BILL_SIGNATURE_2"
                nzAllowClear
                nzShowSearch
                nzPlaceHolder="Choose Signature"
                (ngModelChange)="signature1($event)"
              >
                <nz-option
                  *ngFor="let user of Signaturearray"
                  [nzValue]="user.ID"
                  [nzLabel]="user.NAME"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="4">
          <nz-form-item style="padding: 0px !important">
            <nz-form-label nzNoColon></nz-form-label>
            <nz-form-control>
              <button nz-button nzType="primary" (click)="opensignature()">
                <i nz-icon nzType="plus"></i>
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          nzSpan="12"
        >
          <nz-form-item
            style="
              display: inline-block;
              margin-bottom: 5px;
              width: -webkit-fill-available;
              padding: 0px 10px;
            "
          >
            <nz-form-label nzNoColon>Date </nz-form-label>

            <nz-form-control>
              <nz-date-picker
                style="width: 100%"
                nzFormat="dd/MM/yyyy"
                name="ADVANCE_BILL_DATE"
                [(ngModel)]="data.ADVANCE_BILL_DATE"
              >
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          nzSpan="12"
        >
          <nz-form-item
            style="
              display: inline-block;
              margin-bottom: 5px;
              width: -webkit-fill-available;
              padding: 0px 10px;
            "
          >
            <nz-form-label nzNoColon>Transfer Date </nz-form-label>

            <nz-form-control>
              <nz-date-picker
                style="width: 100%"
                nzFormat="dd/MM/yyyy"
                name="DATE_OF_TRANSFER"
                [(ngModel)]="data.DATE_OF_TRANSFER"
              >
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Bill Number</nz-form-label>
            <nz-form-control nzHasFeedback>
              <input
                nz-input
                name="ADVANCE_BILL_NO"
                placeHolder="Enter Bill Number"
                maxlength="512"
                autocomplete="off"
                [(ngModel)]="data.ADVANCE_BILL_NO"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Prepared By</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                name="PREPARED_BY"
                placeHolder="Enter Prepared By"
                maxlength="60"
                autocomplete="off"
                [(ngModel)]="AdvanceBillMap.PREPARED_BY"
              />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          nzSpan="24"
        >
          <nz-form-item>
            <nz-form-label nzNoColon>CTG Remark</nz-form-label>

            <nz-form-control nzHasFeedback nzErrorTip="CTG Remark is required">
              <textarea
                maxlength="512"
                style="width: 100%"
                name="ADV_CTG"
                nz-input
                placeholder="Enter CTG Remark"
                type="text"
                rows="2"
                [(ngModel)]="AdvanceBillMap.ADV_CTG"
                nz-input
              ></textarea>
            </nz-form-control>
            <h6
              style="color: red; font-size: 0.67rem; font-weight: 400"
              *ngIf="AdvanceBillMap.ADV_CTG != undefined"
            >
              {{ AdvanceBillMap.ADV_CTG.length }}/512
            </h6>
          </nz-form-item>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          nzSpan="24"
        >
          <nz-form-item>
            <nz-form-label nzNoColon>Air Fare Remark</nz-form-label>

            <nz-form-control
              nzHasFeedback
              nzErrorTip="Air Fare Remark is required"
            >
              <textarea
                maxlength="512"
                style="width: 100%"
                name="ADV_AIR_FARE"
                nz-input
                placeholder="Enter Air Fare Remark"
                type="text"
                rows="2"
                [(ngModel)]="AdvanceBillMap.ADV_AIR_FARE"
                nz-input
              ></textarea>
            </nz-form-control>
            <h6
              style="color: red; font-size: 0.67rem; font-weight: 400"
              *ngIf="AdvanceBillMap.ADV_AIR_FARE != undefined"
            >
              {{ AdvanceBillMap.ADV_AIR_FARE.length }}/512
            </h6>
          </nz-form-item>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          nzSpan="24"
        >
          <nz-form-item>
            <nz-form-label nzNoColon>Personal Effects Remark</nz-form-label>

            <nz-form-control
              nzHasFeedback
              nzErrorTip="Personal Effects Remark is required"
            >
              <textarea
                maxlength="512"
                style="width: 100%"
                name="ADV_PERSONAL_EFFECTS"
                nz-input
                placeholder="Enter Personal Effects Remark"
                type="text"
                rows="2"
                [(ngModel)]="AdvanceBillMap.ADV_PERSONAL_EFFECTS"
                nz-input
              ></textarea>
            </nz-form-control>
            <h6
              style="color: red; font-size: 0.67rem; font-weight: 400"
              *ngIf="AdvanceBillMap.ADV_PERSONAL_EFFECTS != undefined"
            >
              {{ AdvanceBillMap.ADV_PERSONAL_EFFECTS.length }}/512
            </h6>
          </nz-form-item>
        </div>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          nzSpan="24"
        >
          <nz-form-item>
            <nz-form-label nzNoColon>Private Conveyance Remark</nz-form-label>

            <nz-form-control
              nzHasFeedback
              nzErrorTip="Private Conveyance Remark is required"
            >
              <textarea
                maxlength="512"
                style="width: 100%"
                name="ADV_PRIVATE_CONVEYANCE"
                nz-input
                placeholder="Enter Private Conveyance Remark"
                type="text"
                rows="2"
                [(ngModel)]="AdvanceBillMap.ADV_PRIVATE_CONVEYANCE"
                nz-input
              ></textarea>
            </nz-form-control>
            <h6
              style="color: red; font-size: 0.67rem; font-weight: 400"
              *ngIf="AdvanceBillMap.ADV_PRIVATE_CONVEYANCE != undefined"
            >
              {{ AdvanceBillMap.ADV_PRIVATE_CONVEYANCE.length }}/512
            </h6>
          </nz-form-item>
        </div>

        <!-- <div nz-row>
        <div
          nz-col
          nzXs="24"
          nzSm="24"
          nzMd="24"
          nzLg="24"
          nzXl="24"
          nzSpan="24"
        >
          <nz-form-item>
            <nz-form-label nzNoColon>Order Form Remark</nz-form-label>

            <nz-form-control
              nzHasFeedback
              nzErrorTip="Order Remark is required"
            >
      
              <angular-editor
                style="resize: none; color: black"
                name="Journey2"
                [(ngModel)]="drawerClaimData.ORDER_FORM_REMARK"
                [config]="editorConfigPara"
              ></angular-editor>
            </nz-form-control>
            <h6
              style="color: red; font-size: 0.67rem; font-weight: 400"
              *ngIf="drawerClaimData.ORDER_FORM_REMARK != undefined"
            >
              {{ drawerClaimData.ORDER_FORM_REMARK.length }}/512
            </h6>
          </nz-form-item>
        </div>
      </div> -->
      </div>
    </div>
  </div>
  <div nz-col nzSpan="16" class="gutter-row">
    <div class="my-box" style="height: 75vh; overflow-y: auto">
      <div nz-row style="padding-left: 20px">
        <div nz-col nzSpan="24" style="text-align: left">
          <p>Dated : {{ data.ADVANCE_BILL_DATE | date : "dd/MM/yyyy" }}</p>
        </div>
        <div nz-col nzSpan="24" style="text-align: left">
          <p>
            <b>Bill. No. : {{ data.ADVANCE_BILL_NO }}</b>
          </p>
        </div>
        <div nz-col nzSpan="24" style="margin-left: 2px">
          <p>
            P.U.C is TA-Transfer bill of {{ data.NAME }} from Mumbai to
            {{ data.PLACE_OFFICE_OF_POSTING }} vide F PUC-22011/3/2023-Ad-VI,
            Office Order No. 214 of 2023 dated
            <b>{{ data.ADVANCE_BILL_DATE | date : "dd/MM/yyyy" }}</b> page 05 of
            13 Si no 63.
          </p>
          <br />
          <p>
            The Officer has claimed vente perdiet since the Officer has been
            posted/transferred from {{ data.PLACE_OFFICE_OF_POSTING }} after
            {{ data.DATE_OF_TRANSFER | date : "dd/MM/yyyy" }}, hence as per O.M.
            dated 18/08/2017 the officer is entitled for CTG at revised scale of
            pay (7th CPC).
          </p>
          <br />
          <p>
            The total amount admissible to the official is worked out as under
          </p>
          <table style="width: 100%">
            <thead>
              <tr style="border: 1px solid black; text-align: center">
                <th>Sr.No.</th>
                <th>Components</th>
                <th>Amt Claimed</th>
                <th>Amt Admissible</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center">1</td>
                <td>CTG</td>
                <td>{{ data.TRANSFER_GRANT_BASIC_PAY_TOTAL }}/-</td>
                <td>{{ data.TRANSFER_GRANT_BASIC_PAY_TOTAL }}/-</td>
                <td>
                  {{ AdvanceBillMap.ADV_CTG }}
                  <!-- 80% of {{ data.GRADE_PAY }} = Rs
                  {{ data.TRANSFER_GRANT_BASIC_PAY_TOTAL }}/- -->
                </td>
              </tr>
              <tr>
                <td style="text-align: center">2</td>
                <td>Air Fare</td>
                <td>{{ data.TRAVELLING_ALLOW_TOTAL }}/-</td>
                <td>{{ data.TRAVELLING_ALLOW_TOTAL }}/-</td>
                <td>
                  {{ AdvanceBillMap.ADV_AIR_FARE }}
                  90% of
                  <!-- {{ data.TRA_ALLO_FARE_RS * relationdataorder.length }}/- = Rs
                  {{ data.TRAVELLING_ALLOW_TOTAL }}/- -->
                </td>
              </tr>
              <tr>
                <td style="text-align: center">3</td>
                <td>Personal Effects</td>
                <td>{{ totalpersonal90 }}/-</td>
                <td>{{ totalpersonal90 }}/-</td>
                <td>
                  {{ AdvanceBillMap.ADV_PERSONAL_EFFECTS }}
                  <!-- 90% of {{ data.CHARGES_FOR_PERSONAL_EFFECTS_AMOUNT }} = Rs
                  {{ totalpersonal90 }}/- -->
                </td>
              </tr>
              <tr>
                <td style="text-align: center">4</td>
                <td>Private Conveyance</td>
                <td>{{ totalprivate90 }}/-</td>
                <td>{{ totalprivate90 }}/-</td>
                <td>
                  {{ AdvanceBillMap.ADV_PRIVATE_CONVEYANCE }}
                  <!-- 90% of {{ data.CHARGES_FOR_PRIVATE_CON_AMOUNT }} = Rs
                  {{ totalprivate90 }}/- -->
                </td>
              </tr>
              <tr>
                <td></td>
                <td><b>TOTAL</b></td>
                <td>
                  <b>₹ {{ data.FINAL_ADVANCE_AMOUNT }}/-</b>
                </td>
                <td>
                  <b>₹ {{ data.FINAL_ADVANCE_AMOUNT }}/-</b>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2"><b>Net Amount</b></td>
                <td colspan="2">
                  <b>₹ {{ data.FINAL_ADVANCE_AMOUNT }}/-</b>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <p>
            <b
              >The Net amount={{ data.FINAL_ADVANCE_AMOUNT }}/- ({{
                ggetinwords(data.FINAL_ADVANCE_AMOUNT)
              }})</b
            >. The file is put up for kind perusal and signature please.
          </p>

          <br />
          <br />

          <p>Prepared by: {{ AdvanceBillMap.PREPARED_BY }}</p>
          <p>Designation:</p>
          <br />
          <br />
          <br />
          <p>
            <span *ngIf="POST"> {{ POST }}</span>
          </p>
          <p>
            <span *ngIf="OFFICE_NAME"> {{ OFFICE_NAME }}</span>
          </p>
          <p></p>
          <br /><br /><br />
          <p>
            <span *ngIf="POST1"> {{ POST1 }}</span>
          </p>
          <p>
            <span *ngIf="OFFICE_NAME1"> {{ OFFICE_NAME1 }}</span>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button
    type="button"
    nz-button
    (click)="drawerClose()"
    class="ant-btn"
    style="margin-right: 8px"
  >
    <span>Cancel</span>
  </button>
  <button nz-button nzType="primary" (click)="showmodel()">
    Approve Claim & Preview
  </button>
</div>

<nz-modal
  [nzWidth]="getwidth()"
  [(nzVisible)]="printOrderModalVisible"
  nzMaskClosable="false"
  nzClosable="false"
  [nzContent]="printOrderModalContent"
  [nzTitle]="'Advance Bill'"
  (nzOnCancel)="printOrderModalCancel()"
  [nzFooter]="printOrderModalFooter"
>
  <ng-template #printOrderModalContent>
    <div id="excel-table" style="height: 450px; overflow: auto">
      <div
        nz-row
        style="
          width: 820px;
          padding: 3px;
          font-size: 15px !important;
          font-family: Bookman Old Style;
          margin-left: 35px;
        "
      >
        <div nz-col nzSpan="24" style="text-align: left">
          <p>Dated : {{ data.ADVANCE_BILL_DATE | date : "dd/MM/yyyy" }}</p>
        </div>
        <div nz-col nzSpan="24" style="text-align: left">
          <p>
            <b>Bill. No. : {{ data.ADVANCE_BILL_NO }}</b>
          </p>
        </div>
        <div nz-col nzSpan="24" style="margin-left: 2px">
          <p>
            P.U.C is TA-Transfer bill of {{ data.NAME }} from Mumbai to
            {{ data.PLACE_OFFICE_OF_POSTING }} vide F PUC-22011/3/2023-Ad-VI,
            Office Order No. 214 of 2023 dated
            <b>{{ data.ADVANCE_BILL_DATE | date : "dd/MM/yyyy" }}</b> page 05 of
            13 Si no 63.
          </p>
          <br />
          <p>
            The Officer has claimed vente perdiet since the Officer has been
            posted/transferred from {{ data.PLACE_OFFICE_OF_POSTING }} after
            {{ data.DATE_OF_TRANSFER | date : "dd/MM/yyyy" }}, hence as per O.M.
            dated 18/08/2017 the officer is entitled for CTG at revised scale of
            pay (7th CPC).
          </p>
          <br />
          <p>
            The total amount admissible to the official is worked out as under
          </p>
          <table style="width: 100%">
            <thead>
              <tr style="border: 1px solid black; text-align: center">
                <th>Sr.No.</th>
                <th>Components</th>
                <th>Amt Claimed</th>
                <th>Amt Admissible</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center">1</td>
                <td>CTG</td>
                <td>{{ data.TRANSFER_GRANT_BASIC_PAY_TOTAL }}/-</td>
                <td>{{ data.TRANSFER_GRANT_BASIC_PAY_TOTAL }}/-</td>
                <td>
                  {{ AdvanceBillMap.ADV_CTG }}
                  <!-- 80% of {{ data.GRADE_PAY }} = Rs
                  {{ data.TRANSFER_GRANT_BASIC_PAY_TOTAL }}/- -->
                </td>
              </tr>
              <tr>
                <td style="text-align: center">2</td>
                <td>Air Fare</td>
                <td>{{ data.TRAVELLING_ALLOW_TOTAL }}/-</td>
                <td>{{ data.TRAVELLING_ALLOW_TOTAL }}/-</td>
                <td>
                  {{ AdvanceBillMap.ADV_AIR_FARE }}
                  90% of
                  <!-- {{ data.TRA_ALLO_FARE_RS * relationdataorder.length }}/- = Rs
                  {{ data.TRAVELLING_ALLOW_TOTAL }}/- -->
                </td>
              </tr>
              <tr>
                <td style="text-align: center">3</td>
                <td>Personal Effects</td>
                <td>{{ totalpersonal90 }}/-</td>
                <td>{{ totalpersonal90 }}/-</td>
                <td>
                  {{ AdvanceBillMap.ADV_PERSONAL_EFFECTS }}
                  <!-- 90% of {{ data.CHARGES_FOR_PERSONAL_EFFECTS_AMOUNT }} = Rs
                  {{ totalpersonal90 }}/- -->
                </td>
              </tr>
              <tr>
                <td style="text-align: center">4</td>
                <td>Private Conveyance</td>
                <td>{{ totalprivate90 }}/-</td>
                <td>{{ totalprivate90 }}/-</td>
                <td>
                  {{ AdvanceBillMap.ADV_PRIVATE_CONVEYANCE }}
                  <!-- 90% of {{ data.CHARGES_FOR_PRIVATE_CON_AMOUNT }} = Rs
                  {{ totalprivate90 }}/- -->
                </td>
              </tr>
              <tr>
                <td></td>
                <td><b>TOTAL</b></td>
                <td>
                  <b>₹ {{ data.FINAL_ADVANCE_AMOUNT }}/-</b>
                </td>
                <td>
                  <b>₹ {{ data.FINAL_ADVANCE_AMOUNT }}/-</b>
                </td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2"><b>Net Amount</b></td>
                <td colspan="2">
                  <b>₹ {{ data.FINAL_ADVANCE_AMOUNT }}/-</b>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <p>
            <b
              >The Net amount={{ data.FINAL_ADVANCE_AMOUNT }}/- ({{
                ggetinwords(data.FINAL_ADVANCE_AMOUNT)
              }})</b
            >. The file is put up for kind perusal and signature please.
          </p>

          <br />
          <br />

          <p>Prepared by: {{ AdvanceBillMap.PREPARED_BY }}</p>
          <p>Designation:</p>
          <br />
          <br />
          <br />
          <p>
            <span *ngIf="POST"> {{ POST }}</span>
          </p>
          <p>
            <span *ngIf="OFFICE_NAME"> {{ OFFICE_NAME }}</span>
          </p>
          <p></p>

          <br /><br /><br />
          <p>
            <span *ngIf="POST1"> {{ POST1 }}</span>
          </p>
          <p>
            <span *ngIf="OFFICE_NAME1"> {{ OFFICE_NAME1 }}</span>
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #printOrderModalFooter>
    <button nz-button nzType="default" (click)="printOrderModalCancel()">
      Close
    </button>
    <button
      nz-button
      nzType="default"
      [useExistingCss]="true"
      printSectionId="excel-table"
      ngxPrint
    >
      Print
    </button>
    <button nz-button nzType="primary" (click)="openpdf()">Download</button>
  </ng-template>
</nz-modal>

<div *ngIf="drawerVisiblesign">
  <nz-drawer
    [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }"
    [nzClosable]="false"
    [nzMask]="true"
    [nzMaskClosable]="false"
    [nzWidth]="450"
    [nzVisible]="drawerVisiblesign"
    [nzTitle]="'Add Signature'"
    (nzOnClose)="drawerClosesign()"
    (nzKeyboard)="(true)"
  >
    <ng-container *nzDrawerContent>
      <app-addsignaturemaster
        [drawerClose]="closeCallbacksign"
      ></app-addsignaturemaster>
    </ng-container>
  </nz-drawer>
</div>
