<div>
    <form nz-form #websitebannerPage="ngForm">
        <nz-spin [nzSpinning]="isSpinning">

            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Building Name</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Select Building Name">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Building Name"
                                name="BuildfinName" [(ngModel)]="data.BUILDING_ID" required>
                                <nz-option *ngFor="let data of GenerateBuilding" [nzValue]="data.ID"
                                    [nzLabel]="data.NAME">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Floor Name</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Enter Floor Name">
                            <input nz-input name="Floornm" [(ngModel)]="data.FLOOR_ID" maxlength="256" required
                                placeHolder="Enter Floor Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Quarter Name</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Enter Quarter Name">
                            <input nz-input name="FlatName" [(ngModel)]="data.FLAT_ID" maxlength="256" required
                                placeHolder="Enter Quarter Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-spin>
    </form>

    <div class="footer">
        <button type="button" nz-button (click)="close(websitebannerPage)" class="ant-btn" style="margin-right: 8px">
            <span>Cancel</span>
        </button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu" [nzLoading]="isSpinning" (click)="save(false, websitebannerPage)">
            <span>Save & Close</span>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px; background-color: #40a9ff">
                    <a style="color: white" (click)="save(true, websitebannerPage)">Save & New</a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
            (click)="save(false, websitebannerPage)">
            <span>Update & Close</span>
        </button>
    </div>

    <div class="header">
        <button type="button" nz-button (click)="close(websitebannerPage)" class="ant-btn" style="margin-right: 8px">
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
    </div>
</div>