.ss::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }
  
  .ss::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(173, 172, 172);
    border-radius: 10px;
  }
  
  .ss::-webkit-scrollbar-thumb {
    background: #006699;
    border-radius: 10px;
  }
  
  .ss::-webkit-scrollbar-thumb:hover {
    background: #006699;
  }

  