<div class="my-boxxxxxxx">
    <form nz-form>
      <nz-spin [nzSpinning]="isSpinning">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Name</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Name is required">
                <input
                  nz-input
                  name="Name"
                  type="text"
                  [(ngModel)]="data.NAME"
                  placeholder="Please Enter Name"
                  required
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Sequence No</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                <input nz-input name="catseq" maxlength="6"  style="width: 100%"
                [(ngModel)]="data.SEQUENCE_NO" (keypress)="omit($event)" required />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col  nzSpan="5">
            <nz-form-item>
              <nz-form-label style="padding-left: 15px" nzNoColon
                >Status</nz-form-label
              >
              <nz-form-control>
                <nz-switch
                  style="padding-left: 15px"
                  name="status"
                  nzCheckedChildren="Yes"
                  nzUnCheckedChildren="No"
                  [(ngModel)]="data.STATUS"
                ></nz-switch></nz-form-control
            ></nz-form-item>
          </div>
        </div>
      </nz-spin>
    </form>
    </div>
    <div class="footer" >
      <button
        type="button"
        nz-button
        (click)="close()"
        class="ant-btn"
        style="margin-right: 8px"
      >
        <span>Cancel</span>
      </button>
      <button
        type="button"
        class="ant-btn ant-btn-primary"
        *ngIf="!data.ID"
        nz-button
        nz-dropdown
        [nzDropdownMenu]="menu"
        (click)="save(false)"
      >
        <span>Save & Close</span>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li
            nz-menu-item
            class="menuc"
            style="border-radius: 4px; background-color: #40a9ff"
          >
            <a (click)="save(true)">Save & New</a>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button
        type="button"
        class="ant-btn ant-btn-primary"
        nz-button
        [nzLoading]="isSpinning"
        *ngIf="data.ID"
        (click)="save(false)"
      >
        <span>Update & close</span>
      </button>
    </div>

  