<div nz-row [nzGutter]="10">
  <div nz-col nzSpan="7">
    <div class="my-box" style="height: 75vh; overflow-y: auto">
      <div nz-row>
        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzNoColon>Signature 1</nz-form-label>
            <nz-form-control>
              <nz-select
                name="userid"
                [(ngModel)]="
                  ManjuriAdeshView.ADV_TOUR_MANJURI_ADESH_SIGNATURE_1
                "
                nzAllowClear
                nzShowSearch
                nzPlaceHolder="Choose Signature"
                (ngModelChange)="signature($event)"
              >
                <nz-option
                  *ngFor="let user of Signaturearray"
                  [nzValue]="user.ID"
                  [nzLabel]="user.NAME"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="4">
          <nz-form-item style="padding: 0px !important">
            <nz-form-label nzNoColon></nz-form-label>
            <nz-form-control>
              <button nz-button nzType="primary" (click)="opensignature()">
                <i nz-icon nzType="plus"></i>
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="20">
          <nz-form-item>
            <nz-form-label nzNoColon>Signature 2</nz-form-label>
            <nz-form-control>
              <nz-select
                name="userid2"
                [(ngModel)]="
                  ManjuriAdeshView.ADV_TOUR_MANJURI_ADESH_SIGNATURE_2
                "
                nzAllowClear
                nzShowSearch
                nzPlaceHolder="Choose Signature"
                (ngModelChange)="signature1($event)"
              >
                <nz-option
                  *ngFor="let user of Signaturearray"
                  [nzValue]="user.ID"
                  [nzLabel]="user.NAME"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="4">
          <nz-form-item style="padding: 0px !important">
            <nz-form-label nzNoColon></nz-form-label>
            <nz-form-control>
              <button nz-button nzType="primary" (click)="opensignature()">
                <i nz-icon nzType="plus"></i>
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon> Bill No.</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Bill No. ">
              <input
                nz-input
                maxlength="64"
                autocomplete="off"
                name="ADVANCE_BILL_NO"
                disabled
                type="text"
                [(ngModel)]="TOURdata.ADVANCE_BILL_NO"
                placeHolder="Enter Bill No."
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon> Bill No. (In Hindi)</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Bill No.  (In Hindi)">
              <input
                nz-input
                maxlength="64"
                autocomplete="off"
                name="ADVANCE_BILL_NO_HN"
                type="text"
                [(ngModel)]="TOURdata.ADVANCE_BILL_NO_HN"
                placeHolder="Enter Bill No. (In Hindi)"
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon> Letter Number</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Letter Number">
              <input
                nz-input
                maxlength="64"
                autocomplete="off"
                name="ADVANCE_LETTER_NO"
                type="text"
                [(ngModel)]="TOURdata.ADVANCE_LETTER_NO"
                placeHolder="Enter Letter Number"
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Name</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Name.">
              <input
                nz-input
                maxlength="62"
                autocomplete="off"
                name="EMPLOYEE_NAME"
                type="text"
                disabled
                [(ngModel)]="TOURdata.EMPLOYEE_NAME"
                placeHolder="Enter Name ."
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Name (In Hindi)</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Name (In Hindi).">
              <input
                nz-input
                maxlength="62"
                autocomplete="off"
                name="EMPLOYEE_NAME_NH"
                type="text"
                [(ngModel)]="TOURdata.EMPLOYEE_NAME_HN"
                placeHolder="Enter Name (In Hindi)."
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Place</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Name (In Hindi).">
              <input
                nz-input
                maxlength="62"
                autocomplete="off"
                name="VISITED_PLACE_AND_PERIOD"
                type="text"
                [(ngModel)]="TOURdata.VISITED_PLACE_AND_PERIOD"
                placeHolder="Enter Place."
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Place (In Hindi)</nz-form-label>
            <nz-form-control nzErrorTip="Please Enter Place (In Hindi).">
              <input
                nz-input
                maxlength="62"
                autocomplete="off"
                name="VISITED_PLACE_AND_PERIOD_HN"
                type="text"
                [(ngModel)]="TOURdata.VISITED_PLACE_AND_PERIOD_HN"
                placeHolder="Enter Place (In Hindi)."
                required
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Letter Date</nz-form-label>
            <nz-form-control nzErrorTip="Please Select Vide Order Date">
              <nz-date-picker
                style="width: 100%"
                nzFormat="dd/MM/yyyy"
                [(ngModel)]="TOURdata.LETTER_DATE"
                name="LETTER_DATE"
                required
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="17">
    <div
      style="padding: 10px"
      class="my-box"
      style="height: 75vh; overflow-y: auto"
    >
      <div nz-row style="padding-left: 30px">
        <div nz-col nzSpan="24" style="text-align: center">
          <h6>कार्यालय</h6>
          <h6>अप्पर आयकर आयुक्त (मुख्या.)कार्मिक,</h6>
          <h6>राजपत्रित छुट्टी यात्रा रियायात /यात्रा भत्ता अनुभाग,</h6>
          <h6>क.सं.123बी., पहली मंजिल, एम.के.मार्ग,मुंबई-400020</h6>
          <h6>कार्यालय</h6>
        </div>
        <div nz-col nzSpan="24" style="border: 1px solid; padding: 5px">
          <div nz-row>
            <div nz-col nzSpan="14" style="font-size: 13px">
              {{ TOURdata.ADVANCE_BILL_NO_HN }}
            </div>
            <div nz-col nzSpan="10" style="text-align: end; font-size: 13px">
              दिनांक:{{ TOURdata.LETTER_DATE | date : "dd/MM/yyyy" }}
            </div>
          </div>
        </div>
        <br />
        <div nz-col nzSpan="24">
          <h6 style="text-align: center; margin-top: 10px; margin-bottom: 10px">
            मंजुरी आदेश
          </h6>
          <p style="font-size: 14px; text-align: justify">
            श्री/श्रीमती/कुमारी..<b
              >{{ TOURdata.EMPLOYEE_NAME_HN }} {{ TOURdata.DESIGNATION_HN }} </b
            >....को......{{ TOURdata.VISITED_PLACE_AND_PERIOD_HN }},(स्थान) में
            तथा वापसी के लिये यात्रा रियायात......
            <b>₹{{ TOURdata.FINAL_ADVANCE_AMOUNT }}-/</b>केवल राशी के भुगतान के
            सामान्य वित्तीय नियम के 231 के अधीन,मंजुरी दी जाती है| यह यात्रा
            दिनांक.........<b>{{
              TOURdata.DURATION_START_DATE | date : "dd/MM/yyyy"
            }}</b
            >..............से शुरु होगी
          </p>
          <span style="font-size: 13px; margin-bottom: 0px !important">
            Expenditure of Tour Advance
          </span>
          <p style="font-size: 13px; margin-bottom: 0px !important">
            For F.Y.{{ getcurrentandnextyear() }} debited
          </p>
          <p style="font-size: 13px; margin-bottom: 0px !important">
            From the head,DTE
          </p>
        </div>

        <div nz-col nzSpan="14" style="margin-top: 40px"></div>
        <div nz-col nzSpan="10" style="margin-top: 40px">
          <p>
            <span *ngIf="POST_HIN"> {{ POST_HIN }} </span><br /><span
              *ngIf="OFFICE_NAME_HIN"
            >
              {{ OFFICE_NAME_HIN }}</span
            >
          </p>
        </div>
        <div nz-col nzSpan="24">
          <div>प्रतिलिप प्रेषित</div>
          <div style="text-align: justify">
            1.&nbsp; &nbsp;लेखा अधिकारी,आयकर आयुक्त का फील्ड पे युनिट,मुंबई<br />
            वित्तीय यात्रा भत्ता अग्रिम के बिल सहित|
          </div>
          <div style="text-align: justify">
            2.&nbsp; &nbsp;संबंधित अधिकारी के पत्र सं.
            <b>{{ TOURdata.ADVANCE_LETTER_NO }}</b> दिनांक
            <b>{{ TOURdata.LETTER_DATE | date : "dd/MM/yyyy" }} </b>
            संदर्भ में सूचित किया जाता है कि अग्रिम राशी का समायोजन एकमुश्त किया
            जाएगा ।दौरे का यात्रा भत्ता अग्रिम के संबंध में अंतिम क्लेम,अग्रिम
            निकासी की तारीख या वासी यात्रा समापती कि तारीख से 15 दिनो के भीतर
            दिया जाना चाहिए|इस क्लेम को इस कार्यालय में देने से पहले,यदी यात्रा
            भत्ता अग्रिम की अतिरिक्त राशी है तो बैंक चालान के माध्यम से भारतीय
            स्टेट बैंक,चर्चगेट ब्रान्च में इस राशी का भुगतान कर लिया जाए ।यदी यह
            क्लेम सक्षम प्राधिकारी द्वारा मंजुरी आदेश के बिना तथा/या दौरा यात्रा
            भत्ता की अतिरिक्त राशी के भुगतान के लिये जाणे पर दिया जाता हैं तो
            सामान्य वित्तीय नियम की धारा 178/2 के अधीन ब्याज लिया जायेगा ।
          </div>
        </div>
        <div nz-col nzSpan="14" style="margin-top: 50px"></div>
        <div nz-col nzSpan="10" style="margin-top: 50px">
          <p>
            <span *ngIf="POST1_HIN"> {{ POST1_HIN }} </span><br /><span
              *ngIf="OFFICE_NAME1_HIN"
            >
              {{ OFFICE_NAME1_HIN }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button
    type="button"
    nz-button
    (click)="close()"
    class="ant-btn"
    style="margin-right: 8px"
  >
    <span>Cancel</span>
  </button>
  <button
    type="button"
    class="ant-btn ant-btn-primary"
    nz-button
    (click)="showmodal()"
  >
    <span>Download or Print</span>
  </button>
</div>

<nz-modal
  [nzWidth]="getwidth()"
  [(nzVisible)]="printOrderModalVisible"
  nzMaskClosable="false"
  nzClosable="false"
  [nzContent]="printOrderModalContent"
  [nzTitle]="'Application'"
  (nzOnCancel)="printOrderModalCancel()"
  [nzFooter]="printOrderModalFooter"
>
  <ng-template #printOrderModalContent>
    <div id="excel-table" style="height: 450px; overflow: auto">
      <div style="padding: 10px">
        <div nz-row style="padding-left: 30px">
          <div nz-col nzSpan="24" style="text-align: center">
            <h6>कार्यालय</h6>
            <h6>अप्पर आयकर आयुक्त (मुख्या.)कार्मिक,</h6>
            <h6>राजपत्रित छुट्टी यात्रा रियायात /यात्रा भत्ता अनुभाग,</h6>
            <h6>क.सं.123बी., पहली मंजिल, एम.के.मार्ग,मुंबई-400020</h6>
            <h6>कार्यालय</h6>
          </div>
          <div nz-col nzSpan="24" style="border: 1px solid; padding: 5px">
            <div nz-row>
              <div nz-col nzSpan="14" style="font-size: 13px">
                {{ TOURdata.ADVANCE_BILL_NO_HN }}
              </div>
              <div nz-col nzSpan="10" style="text-align: end; font-size: 13px">
                दिनांक:{{ TOURdata.LETTER_DATE | date : "dd/MM/yyyy" }}
              </div>
            </div>
          </div>
          <br />
          <div nz-col nzSpan="24">
            <h6
              style="text-align: center; margin-top: 10px; margin-bottom: 10px"
            >
              मंजुरी आदेश
            </h6>
            <p style="font-size: 14px; text-align: justify">
              श्री/श्रीमती/कुमारी..<b
                >{{ TOURdata.EMPLOYEE_NAME_HN }}
                {{ TOURdata.DESIGNATION_HN }} </b
              >....को......{{ TOURdata.VISITED_PLACE_AND_PERIOD_HN }},(स्थान)
              में तथा वापसी के लिये यात्रा रियायात......
              <b>₹{{ TOURdata.FINAL_ADVANCE_AMOUNT }}-/</b>केवल राशी के भुगतान
              के सामान्य वित्तीय नियम के 231 के अधीन,मंजुरी दी जाती है| यह
              यात्रा दिनांक.........<b>{{
                TOURdata.DURATION_START_DATE | date : "dd/MM/yyyy"
              }}</b
              >..............से शुरु होगी
            </p>
            <span style="font-size: 13px; margin-bottom: 0px !important">
              Expenditure of Tour Advance
            </span>
            <p style="font-size: 13px; margin-bottom: 0px !important">
              For F.Y.{{ getcurrentandnextyear() }} debited
            </p>
            <p style="font-size: 13px; margin-bottom: 0px !important">
              From the head,DTE
            </p>
          </div>

          <div nz-col nzSpan="14" style="margin-top: 40px"></div>
          <div nz-col nzSpan="10" style="margin-top: 40px">
            <p>
              <span *ngIf="POST_HIN"> {{ POST_HIN }} </span><br /><span
                *ngIf="OFFICE_NAME_HIN"
              >
                {{ OFFICE_NAME_HIN }}</span
              >
            </p>
          </div>
          <div nz-col nzSpan="24">
            <div>प्रतिलिप प्रेषित</div>
            <div style="text-align: justify">
              1.&nbsp; &nbsp;लेखा अधिकारी,आयकर आयुक्त का फील्ड पे युनिट,मुंबई<br />
              वित्तीय यात्रा भत्ता अग्रिम के बिल सहित|
            </div>
            <div style="text-align: justify">
              2.&nbsp; &nbsp;संबंधित अधिकारी के पत्र सं.<b>{{
                TOURdata.ADVANCE_LETTER_NO
              }}</b>
              दिनांक <b>{{ TOURdata.LETTER_DATE | date : "dd/MM/yyyy" }} </b>
              संदर्भ में सूचित किया जाता है कि अग्रिम राशी का समायोजन एकमुश्त
              किया जाएगा ।दौरे का यात्रा भत्ता अग्रिम के संबंध में अंतिम
              क्लेम,अग्रिम निकासी की तारीख या वासी यात्रा समापती कि तारीख से 15
              दिनो के भीतर दिया जाना चाहिए|इस क्लेम को इस कार्यालय में देने से
              पहले,यदी यात्रा भत्ता अग्रिम की अतिरिक्त राशी है तो बैंक चालान के
              माध्यम से भारतीय स्टेट बैंक,चर्चगेट ब्रान्च में इस राशी का भुगतान
              कर लिया जाए ।यदी यह क्लेम सक्षम प्राधिकारी द्वारा मंजुरी आदेश के
              बिना तथा/या दौरा यात्रा भत्ता की अतिरिक्त राशी के भुगतान के लिये
              जाणे पर दिया जाता हैं तो सामान्य वित्तीय नियम की धारा 178/2 के
              अधीन ब्याज लिया जायेगा ।
            </div>
          </div>
          <div nz-col nzSpan="14" style="margin-top: 50px"></div>
          <div nz-col nzSpan="10" style="margin-top: 50px">
            <p>
              <span *ngIf="POST1_HIN"> {{ POST1_HIN }} </span><br /><span
                *ngIf="OFFICE_NAME1_HIN"
              >
                {{ OFFICE_NAME1_HIN }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #printOrderModalFooter>
    <button nz-button nzType="default" (click)="printOrderModalCancel()">
      Close
    </button>
    <button
      nz-button
      nzType="default"
      [useExistingCss]="true"
      printSectionId="excel-table"
      ngxPrint
    >
      Print
    </button>
    <button nz-button nzType="primary" (click)="openpdf()">Download</button>
  </ng-template>
</nz-modal>

<div *ngIf="drawerVisiblesign">
  <nz-drawer
    [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }"
    [nzClosable]="false"
    [nzMask]="true"
    [nzMaskClosable]="false"
    [nzWidth]="450"
    [nzVisible]="drawerVisiblesign"
    [nzTitle]="'Add Signature'"
    (nzOnClose)="drawerClosesign()"
    (nzKeyboard)="(true)"
  >
    <ng-container *nzDrawerContent>
      <app-addsignaturemaster
        [drawerClose]="closeCallbacksign"
      ></app-addsignaturemaster>
    </ng-container>
  </nz-drawer>
</div>
