<div nz-row nzType="flex">

</div>

<div nz-row>
  <div nz-col nzSpan="24">
    <div nz-row style="display: flex;justify-content: end;">
      <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12" style="display: flex;justify-content: flex-end">
        <button style="margin-right: 10px;" [nzType]="isFilterApplied" nz-button (click)="showFilter()" nz-tooltip
          nzTooltipTitle="Filter ">
          <i nz-icon nzType="filter"></i></button>
      </div>
    </div>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <form nz-form>
          <div nz-row>

            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzRequired nzNoColon>Select Month</nz-form-label>
                <nz-form-control nzErrorTip="Please Select Month">
                  <nz-range-picker name="month" nzMode="month" [(ngModel)]="Monthrange"
                    nzPlaceholder="Please select Month" nzFormat="MMM/yyyy"
                    (ngModelChange)="onChangemonth($event)"></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="7">
              <nz-form-item class="chsaaa">
                <nz-form-label nzNoColon>Residence Type</nz-form-label>
                <nz-form-control>
                  <nz-select [nzMaxTagCount]="2" nzShowSearch nzAllowClear nzPlaceHolder="Please Select Residence Type "
                    name="Residence Type" nzMode="multiple" [(ngModel)]="RESIDENCE_TYPE_ID">
                    <nz-option *ngFor="let type of ResidenceTypelist" [nzValue]="type.ID" [nzLabel]="type.TYPE">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>


            <div nz-col nzSpan="8" style="display: flex;gap: 10px;margin-top: 31px;">
              <button nz-button [nzLoading]="isSpinning" nzType="primary" class="flexicons" (click)="applyFilter()">
                <i nz-icon nzType="filter"></i>Apply Filter
              </button>
              <button nz-button nzType="primary" class="flexicons" (click)="clearFilter()">
                <i nz-icon nzType="close"></i>Clear filter
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div nz-row style="margin-top: 5px">
  <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" *ngFor="let show of dataList; let nn = index">
    <div class="cardstyle">
      <div nz-row>
        <div class="mainnam" nz-col nzSpan="16">
          RESIDENCE {{ show["RESIDENCE_TYPE_NAME"] }}
        </div>
        <div class="subnamm" nz-col nzSpan="8" style="display: flex; justify-content: flex-end">
          <span *ngIf="show['MONTH'] == 1" style="text-transform: uppercase;"> January {{ show["YEAR"] }}
          </span>
          <span *ngIf="show['MONTH'] == 2" style="text-transform: uppercase;"> February {{ show["YEAR"]
            }} </span>
          <span *ngIf="show['MONTH'] == 3" style="text-transform: uppercase;"> March {{ show["YEAR"] }}
          </span>
          <span *ngIf="show['MONTH'] == 4" style="text-transform: uppercase;"> April {{ show["YEAR"] }}
          </span>
          <span *ngIf="show['MONTH'] == 5" style="text-transform: uppercase;"> May {{ show["YEAR"] }}
          </span>
          <span *ngIf="show['MONTH'] == 6" style="text-transform: uppercase;"> June {{ show["YEAR"] }}
          </span>
          <span *ngIf="show['MONTH'] == 7" style="text-transform: uppercase;"> July {{ show["YEAR"] }}
          </span>
          <span *ngIf="show['MONTH'] == 8" style="text-transform: uppercase;"> August {{ show["YEAR"] }}
          </span>
          <span *ngIf="show['MONTH'] == 9" style="text-transform: uppercase;"> September {{ show["YEAR"]
            }} </span>
          <span *ngIf="show['MONTH'] == 10" style="text-transform: uppercase;"> October {{ show["YEAR"]
            }} </span>
          <span *ngIf="show['MONTH'] == 11" style="text-transform: uppercase;"> November {{ show["YEAR"]
            }} </span>
          <span *ngIf="show['MONTH'] == 12" style="text-transform: uppercase;"> December {{ show["YEAR"]
            }} </span>
        </div>
      </div>


      <div nz-row>

        <div nz-col nzSpan="24" style="
                border: 1px solid #efefef;
                justify-content: center;
                align-items: center;
                padding: 10px;
                gap: 10px;
              ">
          <div style="font-weight: 600;text-align: center;">
            Objections
          </div>

          <!-- <div nz-row>
                        <div nz-col nzSpan="12" style="padding: 5px">
                            <nz-tag [nzColor]="'lime'" style="font-size: 10px; width: 80%;text-align: center;"
                                (click)="objectionshow(show,'ALL')">New
                                | 4
                                <span *ngIf="
                        show['APPLICATIONS'] != undefined &&
                        show['APPLICATIONS']['NEW'] != undefined &&
                        show['APPLICATIONS']['NEW'] != null &&
                        show['APPLICATIONS']['NEW'] != ''
                      ">{{ show["APPLICATIONS"]["NEW"] }}</span></nz-tag>
                        </div>
                        <div nz-col nzSpan="12" style="padding: 5px">
                            <nz-tag (click)="objectionshow(show,'P')" [nzColor]="'orange'"
                                style="font-size: 10px; width: 80%;text-align: center;">Pending | 0
                                <span *ngIf="
                        show['APPLICATIONS'] != undefined &&
                        show['APPLICATIONS']['PENDING'] != undefined &&
                        show['APPLICATIONS']['PENDING'] != null &&
                        show['APPLICATIONS']['PENDING'] != ''
                      ">{{ show["APPLICATIONS"]["PENDING"] }}</span></nz-tag>
                        </div>
                        <div nz-col nzSpan="12" style="padding: 5px">
                            <nz-tag (click)="objectionshow(show,'A')" [nzColor]="'green'"
                                style="font-size: 10px; width: 80%;text-align: center;">Approved | 3
                                <span *ngIf="
                        show['APPLICATIONS'] != undefined &&
                        show['APPLICATIONS']['APPROVED'] != undefined &&
                        show['APPLICATIONS']['APPROVED'] != null &&
                        show['APPLICATIONS']['APPROVED'] != ''
                      ">{{ show["APPLICATIONS"]["APPROVED"] }}</span></nz-tag>
                        </div>
                        <div nz-col nzSpan="12" style="padding: 5px">
                            <nz-tag [nzColor]="'red'" style="font-size: 10px; width: 80%;text-align: center;"
                                (click)="objectionshow(show,'R')">Rejected | 1
                                <span *ngIf="
                        show['APPLICATIONS'] != undefined &&
                        show['APPLICATIONS']['REJECTED'] != undefined &&
                        show['APPLICATIONS']['REJECTED'] != null &&
                        show['APPLICATIONS']['REJECTED'] != ''
                      ">{{ show["APPLICATIONS"]["REJECTED"] }}</span></nz-tag>
                        </div>
                    </div> -->

          <div nz-row style="margin-top: 10px;display: flex;justify-content:center;align-items:center;gap: 10px;">
            <div nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="8" nzXl="8">
              <div style="text-align: center;">
                <div nz-row>
                  <div nz-col nzSpan="6"
                    style="border: 1px solid blue; padding: 5px; border-radius: 5px 0 0 5px; background-color: rgb(205, 205, 249); font-size: 12px;">
                    {{show.TOTAL}}
                  </div>
                  <div nz-col nzSpan="18" (click)="objectionshow(show,'ALL',nn)"
                    style="border: 1px solid blue; padding: 5px; margin-left: -1px; border-radius: 0 5px 5px 0; background-color: rgb(227, 227, 249); font-size: 12px;">
                    Total
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="8" nzXl="8">
              <div style="text-align: center;">
                <div nz-row>
                  <div nz-col nzSpan="6"
                    style="border: 1px solid blue; padding: 5px; border-radius: 5px 0 0 5px; background-color: rgb(205, 205, 249); font-size: 12px;">
                    {{show.PENDING}}
                  </div>
                  <div nz-col nzSpan="18" (click)="objectionshow(show,'P',nn)"
                    style="border: 1px solid blue; padding: 5px; margin-left: -1px; border-radius: 0 5px 5px 0; background-color: rgb(227, 227, 249); font-size: 12px;">
                    Pending
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="8" nzXl="8">
              <div style="text-align: center;">
                <div nz-row>
                  <div nz-col nzSpan="6"
                    style="border: 1px solid blue; padding: 5px; border-radius: 5px 0 0 5px; background-color: rgb(205, 205, 249); font-size: 12px;">
                    {{show.APPROVED}}
                  </div>
                  <div nz-col nzSpan="18" (click)="objectionshow(show,'A',nn)"
                    style="border: 1px solid blue; padding: 5px; margin-left: -1px; border-radius: 0 5px 5px 0; background-color: rgb(227, 227, 249); font-size: 12px;">
                    Approved
                  </div>
                </div>
              </div>
            </div>
            <div nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="8" nzXl="8">
              <div style="text-align: center;">
                <div nz-row>
                  <div nz-col nzSpan="6"
                    style="border: 1px solid blue; padding: 5px; border-radius: 5px 0 0 5px; background-color: rgb(205, 205, 249); font-size: 12px;">
                    {{show.REJECTED}}
                  </div>
                  <div nz-col nzSpan="18" (click)="objectionshow(show,'R',nn)"
                    style="border: 1px solid blue; padding: 5px; margin-left: -1px; border-radius: 0 5px 5px 0; background-color: rgb(227, 227, 249); font-size: 12px;">
                    Rejected
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div nz-col nzSpan="24" style="
              align-self: center;
              text-align: center;
              margin-top: 20px;
              margin-bottom: 10px;
            ">


          <nz-steps nzSize="small" [nzCurrent]="Showstepscheck(show,nn)" [nzLabelPlacement]="'vertical'">
            <!-- <nz-step  [nzTitle]= "tempstart"></nz-step>
              <nz-step  [nzTitle]= "tempend"></nz-step> -->
            <nz-step [nzTitle]="temp1"></nz-step>
            <nz-step [nzTitle]="temp2"></nz-step>
            <nz-step [nzTitle]="temp3"></nz-step>
            <nz-step [nzTitle]="temp4"></nz-step>

            <ng-template #temp1>
              <span style="font-size: 12px;font-weight:500 ;">
                Objection Start Time
                <p style="font-size: 10px;font-weight:normal" *ngIf="show['OBJ_START_DATE_TIME'] != null">
                  {{show['OBJ_START_DATE_TIME']
                  | date:'dd/MM/yyyy HH:mm:ss'}}</p>
              </span>
            </ng-template>
            <ng-template #temp2>
              <span style="font-size: 12px;font-weight:500 ;">
                Objection End Time
                <p style="font-size: 10px;font-weight:normal" *ngIf="show['OBJ_END_DATE_TIME'] != null">
                  {{show['OBJ_END_DATE_TIME']
                  | date:'dd/MM/yyyy HH:mm:ss'}}</p>
              </span>
            </ng-template>
            <ng-template #temp3>
              <span style="font-size: 12px;font-weight:500 ;">
                Generate Final Order
                <p style="font-size: 10px;font-weight:normal" *ngIf="show['FINAL_ORDER_GENERATE_DATE_TIME'] != null">
                  {{show['FINAL_ORDER_GENERATE_DATE_TIME']
                  | date:'dd/MM/yyyy HH:mm:ss'}}</p>
              </span>
            </ng-template>
            <ng-template #temp4>
              <span style="font-size: 12px;font-weight:500 ;">
                Publish Final &nbsp;&nbsp;&nbsp;Order
                <p style="font-size: 10px;font-weight:normal" *ngIf="show['FINAL_PUBLISH_DATE_TIME'] != null">
                  {{show['FINAL_PUBLISH_DATE_TIME']
                  | date:'dd/MM/yyyy HH:mm:ss'}}</p>
              </span>
            </ng-template>

          </nz-steps>
        </div>

      </div>

      <div nz-row>

        <div nz-col nzSpan="24" *ngIf="show.OBJ_START_DATE_TIME != null && show.OBJ_END_DATE_TIME != null">
          <div *ngIf="Timmerstartloop[nn]> 0 || Timmerstartloop[nn]!=''">
            Objection Start In: &nbsp; {{Timmerstartloop[nn]}}
          </div>
        </div>

        <div nz-col nzSpan="12" *ngIf="show.FILE_URL != null && show.FILE_URL != undefined && show.FILE_URL != ''"
          style="align-self: center;text-align: center;margin-top: 20px;margin-bottom: 10px">
          <button nz-button nzType="primary" style="font-size: 12px;" (click)="viewdraftallotmentlist(show.FILE_URL)">
            View Draft Allotment Order
          </button>
          <br>
        </div>

        <!-- <div nz-col nzSpan="12"
                    
                    style="align-self: center;text-align: center;font-size: 10px;margin-top: 20px;margin-bottom: 10px;">
                    <button nz-button nzType="primary" style="font-size: 12px;"
                        (click)="ContinueSteps(show)"
                        
                        style="color: white !important;font-size: 12px;">
                        <span >Generate Order</span>
                    </button>
                </div> -->
        <div nz-col nzSpan="12"
          *ngIf="Timmerstartloop[nn]<=0 && show.FINAL_FILE_URL == null && show.OBJ_START_DATE_TIME != null && show.OBJ_END_DATE_TIME != null"
          style="align-self: center;text-align: center;font-size: 10px;margin-top: 20px;margin-bottom: 10px;">
          <button nz-button nzType="primary" style="font-size: 12px;" (click)="ContinueSteps(show)"
            [disabled]="Timmerendloop[nn]> 0 || Timmerendloop[nn]!=''" style="color: white !important;font-size: 12px;">
            <span *ngIf="Timmerendloop[nn] <= 0">Generate Order</span>
            <span style="font-size: 12px;"
              *ngIf="Timmerstartloop[nn]<=0 && ( Timmerendloop[nn]> 0 || Timmerendloop[nn]!='') && show.FINAL_FILE_URL == null">Generate
              Order</span>
          </button>
        </div>

        <div nz-col nzSpan="12"
          style="align-self: center;text-align: center;font-size: 10px;margin-top: 20px;margin-bottom: 10px;"
          *ngIf="show.FINAL_FILE_URL != null && show.OBJ_START_DATE_TIME != null && show.OBJ_END_DATE_TIME != null">
          <button nz-button nzType="primary" style="font-size: 12px;" (click)="viewFinalFile(show.FINAL_FILE_URL)">
            View Final Allotment Order
          </button>
        </div>
        <div nz-col nzSpan="12"></div>
        <div nz-col nzSpan="12">
          <span style="font-size: 12px;text-align: center;"
            *ngIf="Timmerstartloop[nn]<=0 && ( Timmerendloop[nn]> 0 || Timmerendloop[nn]!='') && show.FINAL_FILE_URL == null;else elseBlock">{{Timmerendloop[nn]}}</span>
          <ng-template #elseBlock>
            <p style="padding: 4px;"></p>
          </ng-template>
        </div>

      </div>

    </div>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="isSpinning"
    style="text-align: center; margin-top: 100px">
    <div class="spinner-border text-success" role="status">
      <span class="visually-hidden">Loading</span>
    </div>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" *ngIf="!isSpinning && dataList.length <= 0">
    <div class="col-3"></div>

    <div class="col-18" style="margin-top: 100px">
      <div class="card" style="width: 100%">
        <div class="card-body" style="padding: 25px">
          <div class="row">
            <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center">
              <p class="card-text subnamm" style="font-size: 26px">
                Data Not Found
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3"></div>
  </div>

</div>

<nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1200" [nzVisible]="DrawerVisiblechek"
  [nzTitle]="DrawerVisibleTitle" (nzOnClose)="DrawerVisibleClose()" (nzKeyboard)="(true)">
  <ng-container *nzDrawerContent>
    <app-finalallotmentaddedmaster [drawerClose]="closeCallDrawerVisible" [drawerVisible]="DrawerVisiblechek"
      [scenioritycardId]="''" [data]="DrawerVisibleData"></app-finalallotmentaddedmaster>
  </ng-container>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }" [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100"
  [nzVisible]="Objectionsdrawervisible" [nzTitle]="Objectiondrawertitle" (nzOnClose)="ObjectiondrawerClose()"
  (nzKeyboard)="(true)">
  <ng-container *nzDrawerContent>
    <app-finalallotmentobjectionlist [drawerClose]="closeCallObjectionsdrawer" [drawerVisible]="Objectionsdrawervisible"
      [data]="Objectionsdrawerdata" [stringdata]="StringObjectionfilter"></app-finalallotmentobjectionlist>
  </ng-container>
</nz-drawer>

<nz-modal [nzWidth]="1200" [(nzVisible)]="printOrderModalVisible" nzMaskClosable="false" nzClosable="false"
  [nzContent]="printOrderModalContent" [nzTitle]="'Seniority Order PDFView'" (nzOnCancel)="printOrderModalCancel()"
  [nzFooter]="printOrderModalFooter">
  <ng-template #printOrderModalContent>
    <div *ngIf="view==1" style="height: 600px; overflow: auto">
      <iframe [src]="SenioritylistPDF" style="width:1150px; height:600px;" frameborder="0"></iframe>
    </div>
    <div *ngIf="view==2" style="height: 600px; overflow: auto">
      <iframe [src]="SenioritylistPDF" style="width:1150px; height:600px;" frameborder="0"></iframe>
    </div>

  </ng-template>
  <ng-template #printOrderModalFooter>
    <button nz-button nzType="default" (click)="printOrderModalCancel()">
      Close
    </button>
  </ng-template>
</nz-modal>