<div nz-row nzType="flex">
  <div nz-col nz-col nz-row nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
    <b>
      <div class="formname">{{ formTitle }}</div>
    </b>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18" style="display: flex; justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" nz-input placeholder="Search Records" [(ngModel)]="searchText"
          (keydown.enter)="search(true)" />
        </nz-input-group>

        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search()" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New News
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<br />

<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" nzBordered #table nzShowSizeChanger [nzFrontPagination]="false"
      [nzData]="dataList" [nzLoading]="loadingRecords" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"  [nzSize]="'small'" [nzScroll]="{ x: '1000px',y: '360px' }" style="white-space: inherit;">
      <thead>
        <tr>
          <th nzWidth="80px" nzAlign="center"><b>Action </b></th>
          <th nzWidth="130px" nzAlign="center" [nzColumnKey]="'SEQUENCE_NO'" [nzSortFn]="true"><b>Sequence No</b></th>
          <th nzWidth="350px" [nzColumnKey]="'NAME'" [nzSortFn]="true" nzAlign="center"><b>Name</b></th>
          <th nzWidth="350px" [nzColumnKey]="'SERVICE_TITLE'" [nzSortFn]="true" nzAlign="center"><b>Service Name</b></th>
          <th nzWidth="200px"  [nzColumnKey]="'NEWS_CONTENT_TYPE'" [nzSortFn]="true" nzAlign="center"><b>News Content Type</b></th>
          <th nzWidth="120px" nzAlign="center" [nzColumnKey]="'DATE'" [nzSortFn]="true"><b>Date</b></th>
          <th nzWidth="100px" nzColumnKey="STATUS" [nzSortFn]="true" nzAlign="center"><b>Status</b></th>
          <th nzWidth="100px" nzColumnKey="IS_LATEST" [nzSortFn]="true" nzAlign="center"><b>Is Latest</b></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td nzAlign="center">
            <a nz-button nzType="link" (click)="edit(data)"><span nz-icon nzType="edit" nzTheme="outline"></span></a>
          </td>
          
          <td nzAlign="center">{{data.SEQUENCE_NO}}</td>
          <!-- <td >{{data.NAME}}</td> -->
          <td style="width: 100px !important;" nz-popover nzPopoverTitle="Name" [nzPopoverContent]="data.NAME" nzPopoverPlacement="topLeft">{{
            data.NAME | slice:0:40 }}{{ data.NAME.length > 40 ? "..." : "" }}</td>
          <td style="width: 100px !important;" nz-popover nzPopoverTitle="Service Name" [nzPopoverContent]="data.SERVICE_TITLE" nzPopoverPlacement="topLeft">{{
            data.SERVICE_TITLE | slice:0:40 }}<p *ngIf="data.SERVICE_TITLE == null">-</p></td>
           
          <td *ngIf="data.NEWS_CONTENT_TYPE=='P'">PDF</td>
          <td *ngIf="data.NEWS_CONTENT_TYPE=='L'">Link</td>
          <td *ngIf="data.NEWS_CONTENT_TYPE=='NA'">NA</td>

          <td nzAlign="center">{{data.DATE | date:'dd/MM/yyyy'}}</td>
          
          <td nzAlign="center">
            <i nz-icon *ngIf="data['STATUS']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>

            <i nz-icon *ngIf="!data['STATUS']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>

          <td nzAlign="center">
            <i nz-icon *ngIf="data['IS_LATEST']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>

            <i nz-icon *ngIf="!data['IS_LATEST']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="700" [nzVisible]="drawerVisible"
  [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
  <app-news *nzDrawerContent [drawerClose]="closeCallback" [data]="drawerData"></app-news>
</nz-drawer>