
<div nz-row nzType="flex">
    <div nz-col nz-row nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
      <b>
        <div class="formname">{{ formTitle }}</div>
      </b>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18" style="display: flex; justify-content: flex-end">
      <form nz-form [nzLayout]="'inline'">
        <nz-form-item>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="search" nz-input placeholder="Search Records" [(ngModel)]="searchText"
            (keydown.enter)="search(true)" />
          </nz-input-group>
  
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" (click)="search()" nzSearch>
              <span nz-icon nzType="search"></span>
            </button>
          </ng-template>
        </nz-form-item>
  
        <nz-form-item>
          <button nz-button nzType="primary" (click)="add()" nzJustify="end">
            <span nz-icon nzType="plus"></span>Add New Websitebanner</button>
        </nz-form-item>
  
      </form>
    </div>
  </div>
<br />
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table class="my-scroll no-wrap1" nzBordered #webSiteTable nzShowSizeChanger [nzFrontPagination]="false"
            [nzData]="dataList" [nzLoading]="loadingRecords" [nzSize]="'small'" [nzScroll]="{ x: '1000px',y: '360px' }"
            [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)"
            style="white-space: inherit;">

            <thead>
                <tr>
                    <th nzWidth="80px" nzAlign="center"><b>Action</b></th>
                    <th nzWidth="130px" nzColumnKey="{{'SEQUENCE_NO'}}" [nzSortFn]="true" nzAlign="center"><b>Sequence No</b></th>
                    <th nzWidth="300px" nzColumnKey="{{'NAME'}}" [nzSortFn]="true" nzAlign="center"><b>Banner Name</b></th>
                    <th nzWidth="250px" nzColumnKey="{{'SUB_TITLE'}}" [nzSortFn]="true" nzAlign="center"><b>Sub Title</b></th>
                    <th nzWidth="250px" nzColumnKey="{{'SUB_TITLE2'}}" [nzSortFn]="true" nzAlign="center"><b>Sub Title2</b></th>
                  <th nzWidth="350px" nzColumnKey="{{'SERVICE_TITLE'}}" [nzSortFn]="true" nzAlign="center"><b>Service Name</b></th>
                    <!-- <th *ngFor="let column of columns" nzColumnKey="{{column[0]}}" [nzSortFn]="true">{{column[1]}}</th> -->
                    <th nzColumnKey="{{'STATUS'}}" [nzSortFn]="true" nzWidth="100px" nzAlign="center">
                        <b>Status</b>
                    </th>
                    <th nzColumnKey="{{'SHOW_IN_HOME'}}" [nzSortFn]="true" nzWidth="150px" nzAlign="center">
                        <b>Show In Home</b>
                    </th>
                    <th nzColumnKey="{{'SHOW_IN_SERVICE'}}" [nzSortFn]="true" nzWidth="150px"
                    nzAlign="center"><b>Show In Service</b></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of webSiteTable.data">
                    <td nzAlign="center">
                        <a nz-button nzType="link" (click)="edit(data)"><span nz-icon nzType="edit"
                                nzTheme="outline"></span></a>
                    </td>
                    <td nzAlign="center"> {{data.SEQUENCE_NO}}</td>
                    <td > {{data.NAME}}</td>
                   <td> {{data.SUB_TITLE}}</td>  
                   <td> {{data.SUB_TITLE2}}</td>   
                   <td style="width: 100px !important;" nz-popover nzPopoverTitle="Service Name" [nzPopoverContent]="data.SERVICE_TITLE" nzPopoverPlacement="topLeft">{{
                    data.SERVICE_TITLE | slice:0:40 }}<p *ngIf="data.SERVICE_TITLE == null">-</p></td>        
                   <td nzAlign="center">
                        <i nz-icon *ngIf="data['STATUS']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#52c41a'"></i>
                        <i nz-icon *ngIf="!data['STATUS']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#f50'"></i>
                    </td>
                    <td nzAlign="center">
                        <i nz-icon *ngIf="data['SHOW_IN_HOME']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#52c41a'"></i>
                        <i nz-icon *ngIf="!data['SHOW_IN_HOME']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#f50'"></i>
                    </td>
                    <td nzAlign="center">
                        <i nz-icon *ngIf="data['SHOW_IN_SERVICE']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#52c41a'"></i>
                        <i nz-icon *ngIf="!data['SHOW_IN_SERVICE']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#f50'"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="true">
    <ng-container *nzDrawerContent>
        <app-addwebsitebanner [drawerClose]="closeCallback" [color]="drawerData.COLOR_CODE_NAME"
            [colort1]="drawerData.COLOR_CODE_T1" [colort2]="drawerData.COLOR_CODE_T2" [drawerVisible]="drawerVisible"
            [data]="drawerData"></app-addwebsitebanner>
    </ng-container>
</nz-drawer>