.flexicons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.formname {
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
}