<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
    <div class="formname">
      {{ formTitle }}
    </div>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12" style="display: flex; justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="postsearch" (keydown.enter)="onKeypressEvent($event)" [(ngModel)]="searchText"
            nz-input placeholder="Search Record" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" id="button" class="flexicons" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" class="flexicons">
          <i nz-icon nzType="plus"></i>Add New Floor </button>
      </nz-form-item>
    </form>
  </div>
</div>

<div nz-row style="margin-top: 10px;">
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" nzBordered #Floortable nzShowSizeChanger [nzFrontPagination]="false"
      [nzData]="dataList" [nzLoading]="loadingRecords" [nzSize]="'small'" [nzScroll]="{ y: '390px', x:'1000px' }"
      [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)">
      <thead>
        <tr>
          <th nzWidth="30px" style="font-weight: bold; text-align: center">
            Action
          </th>
          <!-- <th nzWidth="30px" nzColumnKey="{{ 'SEQUENCE_NO' }}" [nzSortFn]="true"
            style="font-weight: bold; text-align: center">
            Sequence No
          </th> -->
          <th nzWidth="100px" nzColumnKey="{{ 'NAME' }}" [nzSortFn]="true"
            style="font-weight: bold; text-align: center">
            Name
          </th>
          <th nzWidth="100px" nzColumnKey="{{ 'BUILDING_NAME' }}" [nzSortFn]="true"
            style="font-weight: bold; text-align: center">
            Building Name
          </th>
          <th nzWidth="40px" nzColumnKey="{{ 'NO_OF_FLATS' }}" [nzSortFn]="true"
            style="font-weight: bold; text-align: center">
            Quarter No.
          </th>

          <th nzWidth="100px" style="text-align: center; font-weight: bold; " nzColumnKey="{{'SHORT_CODE'}}"
            [nzSortFn]="true">Short Code</th>
          <th nzWidth="30px" nzColumnKey="{{ 'STATUS' }}" [nzSortFn]="true"
            style="font-weight: bold; text-align: center">
            Status
          </th>
        </tr>
      </thead>
      <tbody style="text-align: center">
        <tr *ngFor="let data of Floortable.data" style="text-align: center">
          <td style="text-align: center;"><a (click)="edit(data)" style="color: #1890ff;">Edit</a>
          </td>
          <td style="text-align: center; white-space: pre-line">
            {{ data["NAME"] }}
          </td>
          <td style="text-align: center; white-space: pre-line">
            {{ data["BUILDING_NAME"] }}
          </td>
          <td style="text-align: center; white-space: pre-line">
            {{ data["NO_OF_FLATS"] }}
          </td>
          <td nzWidth="50px" style=" white-space: pre-line; text-align: center;"> {{data.SHORT_CODE}}<p
              *ngIf="data.SHORT_CODE=='' || data.SHORT_CODE==null" style="text-align: center;">-</p>
          </td>

          <td style="text-align: center; white-space: pre-line">
            <i nz-icon *ngIf="data['STATUS']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data['STATUS']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <nz-drawer [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }" [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="410" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-floor-drawer [drawerClose]="closeCallback" [drawerVisible]="drawerVisible"
        [data]="drawerData"></app-floor-drawer>
    </ng-container>
  </nz-drawer>

</div>