<div class="my-boxxxxxxx">
    <form nz-form #videoPage="ngForm">
      <nz-spin [nzSpinning]="isSpinning">
        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Video Title</nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Video Title is required">
                <input
                  nz-input
                  name="videotitle"
                  type="text"
                  [(ngModel)]="data.TITLE"
                  placeholder="Please Enter Video Title"
                  required
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label  nzRequired nzNoColon>Category</nz-form-label>
                <nz-form-control nzHasFeedback nzErrorTip="Please Select Category ">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category..."
                    [(ngModel)]="data.CATEGORY_ID" name="category_name" required>
                    <nz-option *ngFor="let role of details" [nzLabel]="role.NAME"
                        [nzValue]="role.ID"></nz-option>
                </nz-select>
            </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Sequence No</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence No.">
              <input nz-input name="video_sequence_no" maxlength="6"  style="width: 100%"
              [(ngModel)]="data.SEQUENCE_NO" (keypress)="omit($event)" required />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <nz-form-item>
            <nz-form-label style="padding-left: 15px" nzNoColon
              >Status</nz-form-label>
            <nz-form-control>
              <nz-switch
                style="padding-left: 15px"
                name="statuss"
                nzCheckedChildren="Yes"
                nzUnCheckedChildren="No"
                [(ngModel)]="data.STATUS"
              ></nz-switch></nz-form-control
          ></nz-form-item>
        </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="22">
            <nz-form-item>
              <nz-form-label nzRequired nzNoColon>Video </nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="Please select Video.... ">
                <button nz-button style="height: 28px; padding: 0px 7px; font-size: 12px" (click)="fileInput.click()">
                  Upload Video
                  <input #fileInput name="video"  type="file" (click)="fileInput.value = ''"  value=""
                    (change)="onFileSelected($event)" style="display: none" accept="video/*" required />
                </button>
              </nz-form-control>
            </nz-form-item>
  
            <div *ngIf="fileDataIMAGE_URL != null">
              <video [src]="image" style="width: 400px; height: 243px; margin-left: 27px;margin-top: 16px;" controls>
                <source src="{{imgurl}}video/{{data.VIDEO_URL}}" type="video/mp4">
                <source src="{{imgurl}}video/{{data.VIDEO_URL}}" type="video/webm">
                <source src="{{imgurl}}video/{{data.VIDEO_URL}}" type="video/ogg">
              </video>
            </div>
          </div>
        </div>

          <div nz-col nzSpan="22" *ngIf="fileDataIMAGE_URL == null && data.VIDEO_URL != ''">
            <video  style="width: 440px; height: 243px; margin-left: 27px;margin-top: 16px;" controls>
              <source src="{{imgurl}}video/{{data.VIDEO_URL}}" type="video/mp4">
              <source src="{{imgurl}}video/{{data.VIDEO_URL}}" type="video/webm">
              <source src="{{imgurl}}video/{{data.VIDEO_URL}}" type="video/ogg">
            </video>
            <br/>
          </div>
          <div nz-col nzSpan="24" *ngIf="data.VIDEO_URL != ''" style="margin-top: 10px;text-align: center;">
            <button (click)="clear(data.VIDEO_URL,'video')" [nzSize]="'default'" nz-button>
              <nz-badge>
                <i style="font-size: 15px; color: red"  nz-icon nzType="delete"></i>
              </nz-badge>
            </button>
          </div>
      </nz-spin>
    </form>
  </div>
  
  <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
      <span>Cancel</span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown [nzDropdownMenu]="menu"
      [nzLoading]="isSpinning" (click)="save(false,videoPage)">
      <span>Save And Close</span>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc" style="border-radius: 4px; background-color: #40a9ff">
          <a style="color: white" (click)="save(true,videoPage)">Save and New
          </a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
      (click)="save(false,videoPage)">
      <span>Update And Close</span>
    </button>
  </div>