<div nz-row nzType="flex" style="justify-content: space-between;">
    <div nz-col style="margin: 0 10px 0 0;">
        <div class="formname"> {{formTitle}}</div>
    </div>

    <div nz-col style="display: flex;justify-content: flex-end">
        <form nz-form [nzLayout]="'inline'">
            <nz-form-item>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" name="webbannersearch" (keyup)="keyup($event)" [(ngModel)]="searchText" nz-input
                        placeholder="Search " />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" class="flexicons" (click)="search()" nzSearch><i nz-icon
                            nzType="search"></i></button>
                </ng-template>
            </nz-form-item>
            <nz-form-item>
                <button nz-button nzType="primary" (click)="add()" class="flexicons">
                    <i nz-icon nzType="plus"></i> Add New Allotment CheckList
                </button>
            </nz-form-item>
        </form>
    </div>
</div>
<div nz-row style="margin-top: 10px;">
    <div nz-col nzSpan="24">
        <nz-table class="my-scroll no-wrap1" nzBordered #locationActicity nzShowSizeChanger [nzFrontPagination]="false"
            [nzData]="dataList" [nzLoading]="loadingRecords" [nzSize]="'small'" [nzTotal]="totalRecords"
            [nzScroll]="{ y: '390px' }" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)">

            <thead>
                <tr>
                    <th nzWidth="80px" style="text-align: center; font-weight: bold;"> Action </th>
                    <th nzWidth="150px" style="text-align: center; font-weight: bold; " nzColumnKey="{{'CITY_NAME'}}"
                        [nzSortFn]="true">City Name</th>
                    <th nzWidth="175px" style="text-align: center; font-weight: bold; " nzColumnKey="{{'NAME'}}"
                        [nzSortFn]="true">Area Name</th>
                    <th nzWidth="175px" style="text-align: center; font-weight: bold; " nzColumnKey="{{'ADDRESS'}}"
                        [nzSortFn]="true">Address</th>
                    <th nzWidth="100px" style="text-align: center; font-weight: bold; " nzColumnKey="{{'LATITUDE'}}"
                        [nzSortFn]="true">Latitude</th>
                    <th nzWidth="100px" style="text-align: center; font-weight: bold; " nzColumnKey="{{'LONGITUDE'}}"
                        [nzSortFn]="true">Longitude</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of locationActicity.data;let i = index">
                    <td style="text-align: center;">
                        <a (click)="edit(data)"> Edit </a>
                    </td>
                    <td nzWidth="100px" style=" white-space: pre-line; text-align: center;"> {{data.CITY_NAME}}</td>
                    <td nzWidth="100px" style=" white-space: pre-line; text-align: center;"> {{data.NAME}}</td>
                    <td nzWidth="100px" style=" white-space: pre-line; text-align: center;"> {{data.ADDRESS}}</td>
                    <td nzWidth="100px" style=" white-space: pre-line; text-align: center;"> {{data.LATITUDE}}</td>
                    <td nzWidth="100px" style=" white-space: pre-line; text-align: center;"> {{data.LONGITUDE}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '60px'}"
    [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="true">
    <ng-container *nzDrawerContent>
        <app-addallotmentcheck [drawerClose]="closeCallback" [drawerVisible]="drawerVisible"
            [data]="drawerData"></app-addallotmentcheck>
    </ng-container>
</nz-drawer>