@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

table,
td,
th,
.card-header {
  border: 1px solid #0000002d;
}

.table-nowrap .table td,
.table-nowrap .table th {
  white-space: nowrap;
}

.table>:not(caption)>*>* {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}

table th {
  font-weight: 600;
  background-color: #eeecfd !important;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(173, 172, 172);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #006699;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #006699;
}

.fscroll {
  height: 100%;
  max-height: 400px;
  overflow: auto;
  overflow-y: auto;
}