<div>

    <form nz-form #form1="ngForm">
        <nz-spin [nzSpinning]="isSpinning">


            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Role </nz-form-label>
                        <nz-input-group>
                            <nz-select name="role" nzShowSearch style="width: 100%" [(ngModel)]="data.ROLE_ID"
                                (ngModelChange)="roleAssign()">
                                <nz-option *ngFor="let role of roles" [nzValue]="role.ID"
                                    [nzLabel]="role.NAME"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Name </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Input is required">
                            <input nz-input name="name" [(ngModel)]="data.NAME" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Email ID </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Email is not valid">
                            <input nz-input name="email"
                                pattern="^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$"
                                [(ngModel)]="data.EMAIL_ID" email />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Mobile No </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Mobile No is not valid">
                            <input nz-input name="mobile" maxlength="10" [pattern]="mobpattern"
                                (keypress)="omit($event)" [(ngModel)]="data.MOBILE_NUMBER" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Password </nz-form-label>
                        <nz-form-control nzHasFeedback>
                            <!-- <nz-input-group> -->
                            <!-- <input nz-input placeholder="input password" [(ngModel)]="data.PASSWORD" name="password" maxlength="12" minlength="8"
                                    type="password" required/> -->
                            <nz-input-group [nzSuffix]="suffixTemplate">
                                <input [type]="passwordVisible ? 'text' : 'password'" class="inputbox" nz-input
                                    placeholder="input password" [(ngModel)]="data.PASSWORD" name="password"
                                    maxlength="12" minlength="8" required />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i style="cursor: pointer;" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template>
                            <!-- </nz-input-group> -->

                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>




            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>Is Active</nz-form-label>
                        <nz-form-control>
                            <nz-switch name="is_active" [(ngModel)]="data.IS_ACTIVE"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </nz-spin>
    </form>

    <div class="footer">
        <button type="button" nz-button (click)="close()" class="ant-btn"
            style="margin-right: 8px;"><span>Cancel</span></button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button
            (click)="save(false,form1)"><span>Save & Close</span></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #006699 ;">
                    <a style="color:white" (click)="save(true,form1)">Save & New</a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
            (click)="save(false,form1)"><span>Update & close</span></button>
    </div>

    <div class="header">
        <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
            <i nz-icon nzType="close" nzTheme="outline"></i>
        </button>
    </div>
</div>