<div class="body">
    <h2 style="
            text-align: center;
            font-weight: bold;
            padding-top: 20px;
          ">
        Welcome

    </h2>
    <h3 style="
            text-align: center;
            font-family: initial;
            font-size: 24px;
            font-weight: 700;
            color: rgb(118, 121, 216);
          ">
        {{usern}}
    </h3>
    <h2 style="
            text-align: center;
            font-weight: bold;
            padding-top: 20px;
            font-size: medium;
          ">
        Powered By
    </h2>
    <h3 style="text-align: center; color: rgb(0, 79, 170); font-weight: 700">
        Income Tax Office - Mumbai
    </h3>
    <h2 style="
            text-align: center;
            font-weight: bold;
            padding-top: 20px;
            font-size: medium;
          ">
        Designed & Developed
    </h2>
    <h3 style="text-align: center; color: gray">
        <a href="https://www.uvtechsoft.com/" target="_blank">UjjVilas Technologies & Software Pvt. Ltd.</a>
    </h3>
</div>