nz-form-item {
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  right: 0px;
}

.table1,
.th1,
.td1 {
  border: 1px solid black;
  padding: 10px 0 10px 0;
  font-size: 11px;
}

.pading {
  padding-left: 10px;
  border: 1px solid black;
}

.my-box1 {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(173, 172, 172);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #006699;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #006699;
}
button {
  font-size: 11px !important;
}
span {
  background: none !important;
}
nz-radio-group label {
  font-size: 11px !important;
}

nz-form-item nz-select nz-option nz-option-item {
  font-size: 11px !important;
}

nz-form-item nz-select,
input,
textarea,
nz-date-picker {
  font-size: 11px !important;
}

nz-radio-group label {
  font-size: 11px !important;
}

.mytable,
thead,
tbody,
th,
td {
  font-size: 11px !important;
  padding: 4px !important;
}
.my-scroll td,
th {
  font-size: 11px !important;
}

sizechange> span,
nz-tabset nz-select,
button,
nz-select,
div,
nzPlaceHolder,
nz-option,
a,
nz-tab,
button,
input,
label,
textarea {
  font-size: 10px !important;
  font-family: 'poppins' !important;
}
