<div nz-row nzType="flex" style="margin-bottom: 5px">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12" style="padding-left: 30px">
    <div class="formname">{{ formTitle }}</div>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="4" nzXl="12" style="display: flex; justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <button *ngIf="isAdmin" nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
          [nzType]="isFilterApplied" (click)="showFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>

      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" autocomplete="off" name="search" nz-input (keydown.enter)="onKeypressEvent($event)"
            placeholder="Search Records" [(ngModel)]="searchText" />
        </nz-input-group>

        <ng-template #suffixIconButton>
          <button id="button" nz-button nzType="primary" (click)="search()" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>

      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end" *ngIf="!isAdmin">
          <i nz-icon nzType="plus"></i>Add New Transfer
        </button>
      </nz-form-item>
    </form>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box" style="margin-bottom: 5px">
        <form nz-form>
          <div nz-row>
            <div nz-col nzSpan="5">
              <nz-form-item>
                <nz-form-label nzNoColon>Inspector Name</nz-form-label>
                <nz-select name="inspectorName" nzShowSearch nzAllowClear style="width: 100%" [(ngModel)]="INSPECTOR_ID"
                  nzPlaceHolder="Select Inspector Name">
                  <nz-option *ngFor="let role of users" [nzValue]="role.ID" [nzLabel]="role.NAME">
                  </nz-option>
                </nz-select>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="7">
              <nz-form-label nzNoColon></nz-form-label>
              <nz-form-item style="margin-left: 45px">
                <button style="margin-right: 10px" nz-button [nzLoading]="isSpinning" nzType="primary"
                  (click)="applyFilter()" nzJustify="end">
                  <i nz-icon nzType="filter"></i>Apply Filter
                </button>
                <button nz-button nzType="primary" (click)="clearFilter()">
                  <!-- <i nz-icon nzType="filter"></i>Clear filter -->
                  <i nz-icon nzType="close-circle" nzTheme="outline"></i>Clear
                  filter
                </button>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24"></div>
</div>

<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" #basicTable nzShowSizeChanger [nzData]="dataList" [(nzPageIndex)]="pageIndex"
      [nzFrontPagination]="false" [nzLoading]="loadingRecords" [nzTotal]="totalRecords" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)" [nzSize]="'small'"
      [nzScroll]="{ x: '3490px', y: '55vh' }" nzBordered>
      <thead>
        <tr>
          <th nzLeft nzWidth="90px" style="font-weight: bold; text-align: center">
            Sr.No
          </th>
          <th nzLeft nzWidth="140px" style="font-weight: bold; text-align: center">
            Action
          </th>
          <!-- <th
            nzLeft
            nzWidth="250px"
            style="font-weight: bold; text-align: center"
          >
            File No
          </th> -->
          <th *ngIf="!isAdmin" nzLeft nzWidth="70px" style="font-weight: bold; text-align: center">
            Delete
          </th>
          <th nzLeft nzWidth="100px" style="font-weight: bold; text-align: center">
            Claim Status
          </th>
          <th nzWidth="270px" style="font-weight: bold; text-align: center">
            Document
          </th>
          <!-- <th nzWidth="420px" style="font-weight: bold; text-align: center">
            Advance Order's
          </th> -->

          <th nzWidth="250px" style="font-weight: bold; text-align: center" nzColumnKey="NAME" [nzSortFn]="true">
            Applicant Name
          </th>

          <th nzWidth="110px" style="font-weight: bold; text-align: center" nzColumnKey="MOBILE_NO" [nzSortFn]="true">
            Mobile No.
          </th>
          <th nzWidth="150px" style="font-weight: bold; text-align: center" nzColumnKey="EMPLOYEE_CODE"
            [nzSortFn]="true">
            Employee Code
          </th>
          <th nzWidth="270px" style="font-weight: bold; text-align: center" nzColumnKey="DESIGNATION" [nzSortFn]="true">
            Employee Designation
          </th>

          <th nzWidth="220px" style="font-weight: bold; text-align: center" nzColumnKey="DDO_OF_THE_OFFICIAL"
            [nzSortFn]="true">
            DDO official
          </th>
          <th nzWidth="220px" style="font-weight: bold; text-align: center" nzColumnKey="OFFICE_NAME" [nzSortFn]="true">
            Office Name
          </th>
          <th nzWidth="250px" style="font-weight: bold; text-align: center" nzColumnKey="ADDRESS" [nzSortFn]="true">
            Old Residential Address
          </th>
          <th nzWidth="220px" style="font-weight: bold; text-align: center" nzColumnKey="NEW_HEADQUARTERS_NAME"
            [nzSortFn]="true">
            New Head Quater Name
          </th>
          <th nzWidth="250px" style="font-weight: bold; text-align: center" nzColumnKey="NEW_ADDRESS" [nzSortFn]="true">
            New Residential Address
          </th>
          <th *ngIf="parentUserId != undefined && parentUserId == 0" nzColumnKey="INSPECTOR_NAME" [nzSortFn]="true"
            nzWidth="200px" style="font-weight: bold; text-align: center">
            Inspector Name
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td nzLeft style="text-align: center; white-space: pre-line" nzWidth="90px">
            <!-- <b> {{i + 1 }}</b> -->
            {{ (pageIndex - 1) * pageSize + i + 1 }}
          </td>
          <td nzLeft style="text-align: center; white-space: pre-line" nzWidth="140px">
            <span style="cursor: pointer" (click)="edit(data)">
              <nz-tag *ngIf="!isAdmin && data.TRANSFER_STATUS != 'R'"
                style="padding: 3px; border: 1px blue solid; border-radius: 0px" [nzColor]="'blue'">
                <i nz-icon nzType="edit"></i> Verify Claim
              </nz-tag>
              <nz-tag *ngIf="isAdmin" style="padding: 3px; border: 1px blue solid; border-radius: 0px"
                [nzColor]="'blue'">
                <i nz-icon nzType="eye"></i> View
              </nz-tag>
            </span>
          </td>
          <!-- <td
            nzLeft
            style="text-align: center; white-space: pre-line"
            nzWidth="250px"
          >
            {{ data.FILE_NO }}
          </td> -->
          <td nzLeft align="center" nzWidth="70px" *ngIf="!isAdmin">
            <span style="cursor: pointer" nz-popconfirm nzPopconfirmTitle="Are you sure want delete?"
              nzPopconfirmPlacement="top" (nzOnConfirm)="deleteConfirm(data)" (nzOnCancel)="deleteCancel()">
              <span nz-icon nzType="delete" nzTheme="twotone" nz-tooltip nzTooltipTitle="Delete">
              </span>
            </span>
          </td>
          <td nzLeft style="text-align: center" nzWidth="100px">
            <nz-tag *ngIf="data.TRANSFER_STATUS == 'A'" style="
                padding: 3px;
                border: 1px rgb(3, 146, 3) solid;
                border-radius: 5px;
              " [nzColor]="'green'">
              Accept
            </nz-tag>

            <nz-tag *ngIf="data.TRANSFER_STATUS == 'R'" style="
                padding: 3px;
                border: 1px rgb(206, 11, 11) solid;
                border-radius: 5px;
              " [nzColor]="'red'">
              Reject
            </nz-tag>

            <nz-tag *ngIf="data.TRANSFER_STATUS == 'H'" style="
                padding: 3px;
                border: 1px rgb(10, 38, 177) solid;
                border-radius: 5px;
              " [nzColor]="'blue'">
              On Hold
            </nz-tag>
            <nz-tag *ngIf="data.TRANSFER_STATUS == 'T' && !isAdmin"
              style="padding: 3px; border: 1px pink solid; border-radius: 5px" [nzColor]="'pink'">
              Pending
            </nz-tag>
            <nz-tag *ngIf="data.TRANSFER_STATUS == 'T' && isAdmin"
              style="padding: 3px; border: 1px blue solid; border-radius: 5px" [nzColor]="'blue'">
              Taken
            </nz-tag>
            <nz-tag *ngIf="data.TRANSFER_STATUS == 'P' && isAdmin"
              style="padding: 3px; border: 1px pink solid; border-radius: 5px" [nzColor]="'pink'">
              Pending
            </nz-tag>
          </td>
          <td nzWidth="270px">
            <div style="padding: 3px" *ngIf="data.TRANSFER_STATUS != 'R'">
              <!-- <td style="text-align: center;"><a (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="outline"></i></a> -->
              <!-- </td> -->
              <span *ngIf="
                  data.TRANSFER_STATUS == 'A' || data.TRANSFER_STATUS == 'AA'
                ">
                <span style="cursor: pointer" (click)="travellingallounce(data)">
                  <nz-tag style="
                      padding: 3px;
                      border: 1px black solid;
                      border-radius: 5px;
                    " [nzColor]="'default'">
                    Part A
                  </nz-tag>
                </span>
                &nbsp;

                <span style="cursor: pointer" (click)="orderData(data)">
                  <nz-tag style="
                      padding: 3px;
                      border: 1px rgb(2, 33, 209) solid;
                      border-radius: 5px;
                    " [nzColor]="'default'">
                    Order
                  </nz-tag>
                </span>

                &nbsp;

                <!-- add compo -->
                <span style="cursor: pointer" (click)="partb(data)">
                  <nz-tag style="
                      padding: 3px;
                      border: 1px rgb(255, 88, 88) solid;
                      border-radius: 5px;
                    " [nzColor]="'default'">
                    Part B
                  </nz-tag>
                </span>
                &nbsp;
                <!-- travellng -->

                <!-- <span style="cursor: pointer" (click)="certificate(data)">
                  <nz-tag
                    style="
                      padding: 3px;
                      border: 1px black solid;
                      border-radius: 5px;
                    "
                    [nzColor]="'default'"
                  >de
                    Certificate
                  </nz-tag>
                </span> -->

                <!-- &nbsp; -->

                <span style="cursor: pointer" (click)="openChecklist(data)">
                  <nz-tag style="
                      padding: 3px;
                      border: 1px red solid;
                      border-radius: 5px;
                    " [nzColor]="'red'">
                    CheckList
                  </nz-tag>
                </span>
              </span>
            </div>
          </td>
          <!-- <td nzWidth="420px">
            <div style="padding: 3px" *ngIf="data.IS_APPLYING_FOR_ADVANCE">
            
              <span>
                <span
                  style="cursor: pointer"
                  (click)="gotatradvanceDraweropen(data)"
                >
                  <nz-tag
                    style="
                      padding: 3px;
                      border: 1px black solid;
                      border-radius: 5px;
                    "
                    [nzColor]="'default'"
                  >
                    Advance Bill
                  </nz-tag>
                </span>
                &nbsp;

                <span
                  style="cursor: pointer"
                  (click)="approvaldraweropen(data)"
                >
                  <nz-tag
                    style="
                      padding: 3px;
                      border: 1px rgb(2, 33, 209) solid;
                      border-radius: 5px;
                    "
                    [nzColor]="'default'"
                  >
                    मंजुरी आदेश
                  </nz-tag>
                </span>

                &nbsp;
                <span
                  style="cursor: pointer"
                  (click)="openApplicationdrawer(data)"
                >
                  <nz-tag
                    style="
                      padding: 3px;
                      border: 1px rgb(255, 88, 88) solid;
                      border-radius: 5px;
                    "
                    [nzColor]="'default'"
                  >
                    Application
                  </nz-tag>
                </span>
                &nbsp;

                <span
                  style="cursor: pointer"
                  (click)="tartdocumentdraweropen(data)"
                >
                  <nz-tag
                    style="
                      padding: 3px;
                      border: 1px red solid;
                      border-radius: 5px;
                    "
                    [nzColor]="'red'"
                  >
                    Document
                  </nz-tag>
                </span>
              </span>
            </div>
          </td> -->
          <!-- <td style="text-align: center; white-space: pre-line">
            <a
              *ngIf="
                data.TRANSFER_PART_A != null &&
                data.TRANSFER_PART_A != undefined &&
                data.TRANSFER_PART_A != ''
              "
              nz-icon
              nzType="eye"
              nzTheme="twotone"
              nz-tooltip
              nzTooltipTitle="View Part A"
              (click)="AnyWindow(data)"
            ></a>
          </td> -->

          <td style="text-align: center; white-space: pre-line" nzWidth="250px">
            {{ data.NAME }}
          </td>

          <td style="text-align: center; white-space: pre-line" nzWidth="110px">
            {{ data.MOBILE_NO }}
          </td>
          <td style="text-align: center; white-space: pre-line" nzWidth="150px">
            {{ data.EMPLOYEE_CODE }}
          </td>
          <td style="text-align: center; white-space: pre-line" nzWidth="270px">
            {{ data.DESIGNATION }}
          </td>

          <td style="text-align: center; white-space: pre-line" nzWidth="220px">
            {{ data.DDO_OF_THE_OFFICIAL }}
          </td>
          <td style="text-align: center; white-space: pre-line" nzWidth="220px">
            {{ data.OFFICE_NAME }}
          </td>
          <td style="text-align: center; white-space: pre-line" nzWidth="150px">
            {{ data.ADDRESS }}
          </td>
          <td style="text-align: center; white-space: pre-line" nzWidth="150px">
            {{ data.NEW_HEADQUARTERS_NAME }}
          </td>
          <td style="text-align: center; white-space: pre-line" nzWidth="150px">
            {{ data.NEW_ADDRESS }}
          </td>
          <td *ngIf="parentUserId != undefined && parentUserId == 0" style="text-align: center; white-space: pre-line"
            nzWidth="110px">
            {{ data.INSPECTOR_NAME }}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="false" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-transferadd [drawerClose]="closeCallback" [data]="drawerData" [empID]="empID" [claimID]="claimID"
        [current]="currentStage" [isSpinning]="isSpin" [relationdata]="relationdata"
        [isCreate]="isCreate"></app-transferadd>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="transferallounce">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1000" [nzKeyboard]="true"
    [nzVisible]="transferallounce" [nzTitle]="transferAllounceDrawerTitle" (nzOnClose)="transferallowuncedrawerclose()">
    <ng-container *nzDrawerContent>
      <app-traveling-allowance [transferallounceorder]="transferallounceorder" [journeydetails]="journeydetails"
        [accommodation]="accommodation" [tranferchnagesorder]="tranferchnagesorder"
        [relationdataorder]="relationdataorder" [railorder]="railorder"
        [drawerClose]="closeCallbacktransferallowunce"></app-traveling-allowance>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="certificateorder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="850" [nzKeyboard]="true"
    [nzVisible]="certificateorder" [nzTitle]="certificateDrawerTitle" (nzOnClose)="certificatedrawerclose()">
    <ng-container *nzDrawerContent>
      <app-certificate [drawerClose]="closeCallbackcertificate"
        [transferallounceorder]="transferallounceorder"></app-certificate>
    </ng-container>
  </nz-drawer>
</div>
<div *ngIf="checklistVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100" [nzKeyboard]="true"
    [nzVisible]="checklistVisible" [nzTitle]="checklistTitle" (nzOnClose)="checkListdrawerclose()">
    <ng-container *nzDrawerContent>
      <app-transferchecklist [drawerClose]="closeCallbackchecklist" [checklistData]="checklistData"
        [transferData]="transferData" [CheckListSignatureMap]="CheckListSignatureMap"></app-transferchecklist>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="applicationforgrantvisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',

      overflow: 'auto',

      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800"
    [nzVisible]="applicationforgrantvisible" [nzTitle]="applicationforgranttitle" (nzOnClose)="closeApplicationdrawer()"
    (nzKeyboard)="(true)">
    <app-application-for-grant-transfer-adv *nzDrawerContent [data]="alldocdata" [relationdataorder]="relationdataorder"
      [drawerClose]="closeApplicationdrawercallback"></app-application-for-grant-transfer-adv>
  </nz-drawer>
</div>

<div *ngIf="gotatradvancevisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',

      overflow: 'auto',

      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100" [nzVisible]="gotatradvancevisible"
    [nzTitle]="gotatradvancetitle" (nzOnClose)="gotatradvanceDrawerClose()" (nzKeyboard)="(true)">
    <app-gotatradv *nzDrawerContent [data]="alldocdata" [relationdataorder]="relationdataorder"
      [totalprivate90]="totalprivate90" [totalpersonal90]="totalpersonal90"
      [drawerClose]="gotatradvanceDrawerClosecallback"></app-gotatradv>
  </nz-drawer>
</div>
<div *ngIf="tartdocumentdrawervisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',

      overflow: 'auto',

      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800"
    [nzVisible]="tartdocumentdrawervisible" [nzTitle]="tartdocumentdrawertitle" (nzOnClose)="tartdocumentdrawerClose()"
    (nzKeyboard)="(true)">
    <app-tatr-documentdrawer *nzDrawerContent [data]="alldocdata"
      [drawerClose]="tartdocumentdrawerCloseCallback"></app-tatr-documentdrawer>
  </nz-drawer>
</div>
<div *ngIf="manjuriAdheshDrawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',

      overflow: 'auto',

      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100"
    [nzVisible]="manjuriAdheshDrawerVisible" [nzTitle]="manjuriAdheshDrawerTitle" (nzOnClose)="approvaldrawerClose()"
    (nzKeyboard)="(true)">
    <app-approvaldrawer *nzDrawerContent [data]="alldocdata"
      [drawerClose]="manjuriAdheshDrawercloseCallback"></app-approvaldrawer>
  </nz-drawer>
</div>

<div *ngIf="drawerClaimVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100" [nzKeyboard]="true"
    [nzVisible]="drawerClaimVisible" [nzTitle]="orderFormTitle" (nzOnClose)="drawerClose1()">
    <ng-container *nzDrawerContent>
      <app-order-form [accommodation]="accommodation" [totacountofbill]="totacountofbill" [railorder]="railorder"
        [tranferchnagesorder1]="tranferchnagesorder1" [journeyfairfaird]="journeyfairfaird" [amount]="[amount]"
        [raiamount]="raiamount" [drawerClose]="closeCallbackClaim" [transferallounceorder]="transferallounceorder"
        [journeydetails]="journeydetails" [drawerClaimData]="drawerClaimData" [netAmountInWord]="netAmountInWord"
        [TravelModeNames]="TravelModeNames" [showPrivate]="showPrivate" [multiplication]="multiplication"
        [fairpaidofpartb]="fairpaidofpartb" [weightrate]="weightrate" [distance]="distance" [amountt]="amountt"
        [totalofweight]="totalofweight" [grosspaymentvalue]="grosspaymentvalue"
        [nettotacountofbill]="nettotacountofbill" [transferJourneyClaimedAmount]="transferJourneyClaimedAmount"
        [inspectorDestination]="inspectorDestination" [personalEffectsAddmissible]="personalEffectsAddmissible"
        [SignatureOrderDataMap]="SignatureOrderDataMap"></app-order-form>
    </ng-container>
  </nz-drawer>
</div>

<div *ngIf="partborder">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1100" [nzKeyboard]="true"
    [nzVisible]="partborder" [nzTitle]="partDrawerTitle" (nzOnClose)="partbdrawerclose()">
    <ng-container *nzDrawerContent>
      <app-add [drawerClose]="closeCallbackpartb" [partbdata]="partbdata" [journeyDetailsData]="journeyDetailsData"
        [multiplication]="multiplication" [tranferchnagesorder]="tranferchnagesorder" [totalofweight]="totalofweight"
        [incidentalsAmonut]="incidentalsAmonut" [transferallounceorder]="transferallounceorder"
        [netpaymentofpartb]="netpaymentofpartb" [amountofadvance]="amountofadvance" [amountt]="amountt"
        [weightrate]="weightrate" [distance]="distance" [grosspaymentofpartb]="grosspaymentofpartb"
        [fairpaidofpartb]="fairpaidofpartb" [grosspaymentvalue]="grosspaymentvalue"
        [privateVehicleMinFair]="privateVehicleMinFair" [showPrivate]="showPrivate" [TravelModeNames]="TravelModeNames"
        [SignaturePartB]="SignaturePartB" [personalEffectsAddmissible]="personalEffectsAddmissible"></app-add>
    </ng-container>
  </nz-drawer>
</div>